.footer{
	text-align: center;
	&__inner{
		padding: 40px 0 40px;
		border-top: 1px solid $border-color;
		animation-delay: .4s;
	}

	&__copyright{
		font-size: 17px;
		line-height: (27 / 17);
		font-weight: 300;
	}
}