.header{
	padding-top: 36px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	transition: opacity 1s .8s;
	&.fadeIn{
		opacity: 1;
	}
	.actions-block{
		padding-right: 14px;
	}
	&-container{
		width: calc(100% - 92px);
		margin: 0 auto;
		position: relative;
	}
}

.mobile .header,
.tablet .header{
	opacity: 1;
	transition: none;
}

.mobile .animated-fadeInUp,
.tablet .animated-fadeInUp{
	visibility: visible;
}

.site-logo{
	width: 156px;
	img{
		width: 100%;
	}
}

.actions-block__item{
	margin: 0 24px 0 0;
	display: inline-block;
	vertical-align: middle;
	&:last-child{
		margin: 0;
	}
	&-request{
		font-size: 14px;
		padding-left: 25px;
		padding-right: 25px;
	}
}

.select-lang{
	position: relative;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .8px;
	color: $dark;
	line-height: 1;
	text-transform: uppercase;
	&__title{
		position: relative;
		display: block;
		white-space: nowrap;
		color: $dark;
		transition: all .2s;	
	}
	&__title:hover{
		color: $tomato;
	}
	&__title:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		position: relative;
		top: -3px;
		left: 5px;
		border-right: solid 1px $dark;
		border-bottom: solid 1px $dark;
		transform: rotate(45deg);
		transform-origin: 50% 50%;
	}
	&__list{

	}
	&__list-item{
		margin-bottom: 12px;
	}

	&__list-item:last-child{
		margin-bottom: 0;
	}

	&__list-link{
		display: block;
		border-width: 0 16px 0 20px;
		border-color: transparent;
		border-style: solid;
		position: relative;
		color: $dark;
		transition: all .2s;		
	}

	&__list-link:hover,
	&__list-item_active &__list-link{
		color: $tomato;
	}

	&__list-item_active &__list-link:after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 5px;
		height: 5px;
		position: relative;
		left: 5px;
		border-right: solid 1px $dark;
		border-top: solid 1px $dark;
		transform: rotate(-45deg);
		transform-origin: 50% 50%;
	}
}

.dropdown-menu{
	display: none;
	position: absolute;
	top: -20px;
	left: -20px;
	padding: 20px 0 17px 0;
	z-index: 2;
	white-space: nowrap;
	background: $white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .08);
	&__title{
		position: relative;
		display: none;
		font-size: 17px;
		line-height: (23 / 17);
		font-weight: 300;
		text-align: center;
		padding: 1px 50px 0;
		margin-bottom: 20px;
		color: $text-color;
	&:before{
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		width: 22px;
		height: 11px;
		background: url(../img/svg/arrow-select-lang.svg) left center no-repeat;
		transform: scale(-1, 1) translateY(-50%);
	}
}
}

.menu-hamburger-button{
	position: relative;
	width: 32px;
	height: 32px;
	display: inline-block;
	stroke: $dark;
}