.header-fixed{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 92px;
	background: $white;
	z-index: 90;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .08);
	transform: translateY(-175px);
	transition: transform .35s;
	&-active{
		transform: translateY(0);
	}
	&-inner{
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
	}
	.header-container{
		height: 100%;
	}
	&-site-logo{
		width: 120px;
	}
}