.menu{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	z-index: 100;
	display: none;
	&__shadow{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(39, 52, 68, .78);
	}
	&__content{
		background: $white;
		width: 608px;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		overflow: auto;
		padding: 0 60px 0 77px;
		transform: translateX(120px);
		transition: all .5s ease;
		&-inner{
			height: 100%;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}
	}
	&_opened &__content{
		transform: translateX(0%);
	}
	&-form_opened &__content-inner{
		display: none;
	}
	&-form_opened &__content > .confirm-form-wrap{
		display: flex;
	}
	&__content-main{
		padding-top: 57px;
	}	
	&__content-bottom{
		padding-top: 74px;
		padding-bottom: 57px;
	}
	&__actions{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-end;
		align-content: stretch;
		align-items: center;
		margin-bottom: 116px;
		&-item-close{
			display: inline-block;
			width: 32px;
			height: 32px;
			background: url(../img/svg/plus-grey.svg) center center no-repeat;
			background-size: 100% auto;
			transform: rotate(45deg);
		}
		&-item-lang{
			margin-right: 34px;
		}
		&-item-buy{
			margin-right: 41px;
		}
	}
	&__button-buy-mobile-wrap{
		display: none;
		margin-bottom: 35px;
	}
	&__button-buy-mobile{
		height: 40px;
		line-height: 39px;
		font-size: 14px;
	}
	&__nav{
		padding-bottom: 54px;
		margin-bottom: 42px;
		position: relative;
	}
	&__nav:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 283px;
		border-top: 1px solid $border-color;
	}
	&__list-item{
		font-size: 35px;
		font-weight: 300;
		line-height: (42 / 35);
		margin-bottom: 33px;
	}
	&__list-item:last-child{
		margin-bottom: 0;
	}
	&__list-link{
		color: $dark;
		transition: $transition;
		&:hover{
			color: $primary-color;
		}
		&:after{
			border-color: $primary-color;
		}
	}
}

.menu_opened{
	overflow: hidden;
}

.menu__links-more-item{
	margin-bottom: 21px;
	&:last-child{
		margin-bottom: 0;
	}
}

.menu__info-links{
	.info-links__item{
		margin: 0 15px 10px 0;
		&:last-child{
			margin-right: 0;
		}
	}
}

.menu__actions-item-close-absolute{
	position: absolute;
	right: 68px;
	top: 68px;
}

.confirm-form{
	margin: 0;
	&-wrap{
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: stretch;
		align-items: stretch;
		padding-right: 50px;
		display: none;
	}
	&__item-wrap{
		margin-bottom: 48px;
	}
	&__item{
		margin-bottom: 34px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__label{
		cursor: pointer;
		display: block;
		position: relative;
		padding-left: 46px;
		padding-top: 2px;
		font-size: 17px;
		line-height: (23 / 17);
		font-weight: 300;
		user-select: none;
	}
	&__checkbox-wrap{
		position: absolute;
		left: 0;
		top: 1px;
	}
	&__button{
		margin: 0;
	}
}

.checkbox-wrap{
	width: 26px;
	height: 26px;
	line-height: 0;
	font-size: 0;
	.checkbox-icon{
		display: block;
		width: 100%;
		height: 100%;
		border: 2px solid $border-color;
		background-color: #fff;
		transition: $transition;
		&:before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-image: url(../img/svg/checkbox.svg);
			opacity: 0;
			background-position: center center;
			background-repeat: no-repeat;
			transition: $transition;
		}
	}
	input[type="checkbox"]:checked ~ .checkbox-icon:before{
		opacity: 1;
	}
	input[type="checkbox"]{
		opacity: 0;
		z-index: -1;
		margin: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

input.error[type="checkbox"] ~ .checkbox-icon{
	border-color: $primary-color;
}
label.error{
	display: none !important;
}

.invest-modal{
	font-size: 20px;
	line-height: (35 / 20);
	font-weight: 300;
	display: none;
	&__title{
		font-size: 50px;
		line-height: (61 / 50);
		font-weight: 300;
		margin: 0 0 30px 0;
	}
	&__text{
		margin: 0;
		font-size: 17px;
		line-height: (27 / 17);
	}
	&__download{
		margin: 51px 0 0 0;
		&-title{
			margin: 0 0 14px 0;
			font-size: 17px;
			line-height: (27 / 17);
		}
		&__download-link{
			width: 180px;
		}
	}
}

.dropdown-menu .menu__actions-item-close{
	display: none;
}