section.about#about
		.container
			h2.about__title.title-main.animated-fadeInUp Что такое RMC?
			h4.about__sub-title.animated-fadeInUp Мы объединили в единую экосистему ученых, производителей устройств для майнинга, дата-центры и сообщество майнеров.
			.info-links.about-info-links.vert-center.animated-fadeInUp
				a.info-links__item.info-links__item_type_video(href='#' target='_blank')
					span.info-links__item-inner
						span.info-links__icon
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 50 50')
								defs
									circle#a8(cx='25', cy='25', r='25')
								g(fill='none', fill-rule='evenodd')
									mask#b8(fill='#fff')
										use(xlink:href='#a8')
									use(fill='#d21f26', opacity='.9', xlink:href='#a8')
									g.circle(mask='url(#b8)')
										path(d='M0 0h50v50H0z')
									g(fill='#FFF', mask='url(#b8)')
										path(d='M21.154 16.346v18.75l11.538-9.375z')
						span.info-links__text Видео
				a.info-links__item.info-links__item_type_file(href='#' target='_blank')
					span.info-links__item-inner
						span.info-links__icon
							img(src="assets/img/svg/file.svg" alt="")
						span.info-links__text Презентация
				a.info-links__item.info-links__item_type_file(href='#' target='_blank')
					span.info-links__item-inner
						span.info-links__icon
							img(src="assets/img/svg/file.svg" alt="")
						span.info-links__text Whitepaper
		.about-scheme-wrap
			.about-scheme.vert-center
				.about-scheme__item
					.about-scheme__content
						.about-scheme__count 01
						.about-scheme__text Производство майнеров Sunrise s11i
				.about-scheme__item
					.about-scheme__content
						.about-scheme__count 02
						.about-scheme__text Разработка майнеров нового поколения Multiclet
				.about-scheme__item
					.about-scheme__content
						.about-scheme__count 03
						.about-scheme__text Майнинговые центры в России
				.about-scheme__item
					.about-scheme__content
						.about-scheme__count 04
						.about-scheme__text Закрытый клуб майнеров