section.faq#faq
	.container
		.faq__title-block.animated-fadeInUp
			h2.faq__title.title-main FAQ
			a.info-links__item.info-links__item-faq.info-links__item_type_file(href='#' target='_blank')
				span.info-links__item-inner.vert-center
					span.info-links__icon
						img(src="assets/img/svg/file-red.svg" alt="")
					span.info-links__text Скачать полную версию FAQ
		.collapse.animated-fadeInUp
			.collapse-item
				h5.collapse-item__title How do I participate in the RMC?
				.collapse-item__body
					.collapse-item__body-inner
						p The ICO will last for 30 days, during which time potential investors will be able to submit an application for any amount of Starta tokens via their personal accounts at StartaICO.com. They will then receive an address to which to transfer funds from their cryptocurrency wallet. After the ICO ends, the collected funds will be made available to Cross Coin. Investors will receive Starta tokens, which will be issued on the Waves blockchain platform within two days of the end of the ICO. The number of tokens will be based on the total collected funds and the token price of $1.
			.collapse-item
				h5.collapse-item__title How do I participate in the RMC?
				.collapse-item__body
					.collapse-item__body-inner
						p The ICO will last for 30 days, during which time potential investors will be able to submit an application for any amount of Starta tokens via their personal accounts at StartaICO.com. They will then receive an address to which to transfer funds from their cryptocurrency wallet. After the ICO ends, the collected funds will be made available to Cross Coin. Investors will receive Starta tokens, which will be issued on the Waves blockchain platform within two days of the end of the ICO. The number of tokens will be based on the total collected funds and the token price of $1.
			.collapse-item
				h5.collapse-item__title What is the minimum investment and what currencies are accepted?
				.collapse-item__body
					.collapse-item__body-inner
						p The ICO will last for 30 days, during which time potential investors will be able to submit an application for any amount of Starta tokens via their personal accounts at StartaICO.com. They will then receive an address to which to transfer funds from their cryptocurrency wallet.
			.collapse-item
				h5.collapse-item__title How do I participate in the RMC?
				.collapse-item__body
					.collapse-item__body-inner
						p The ICO will last for 30 days, during which time potential investors will be able to submit an application for any amount of Starta tokens via their personal accounts at StartaICO.com. They will then receive an address to which to transfer funds from their cryptocurrency wallet. After the ICO ends, the collected funds will be made available to Cross Coin. Investors will receive Starta tokens, which will be issued on the Waves blockchain platform within two days of the end of the ICO. The number of tokens will be based on the total collected funds and the token price of $1.
			.collapse-item
				h5.collapse-item__title What is the minimum investment and what currencies are accepted?
				.collapse-item__body
					.collapse-item__body-inner
						p The ICO will last for 30 days, during which time potential investors will be able to submit an application for any amount of Starta tokens via their personal accounts at StartaICO.com. They will then receive an address to which to transfer funds from their cryptocurrency wallet.