section.help
	.container
		.help__block
			h4.help__title.animated-fadeInUp Есть вопросы? Напишите нам.
			.help__items-wrap.animated-fadeInUp
				.help__item
					.help__item-title Общие вопросы ICO
					a.help__item-value(href='mailto:ico@rmc.one') ico@rmc.one
				.help__item
					.help__item-title Продажи
					a.help__item-value(href='mailto:sales@rmc.one') sales@rmc.one
				.help__item
					.help__item-title СМИ и PR
					a.help__item-value(href='mailto:pr@rmc.one') pr@rmc.one
				.help__item
					.help__item-title Корейский
					a.help__item-value(href='mailto:Korea@rmc.one') Korea@rmc.one
				.help__item
					.help__item-title Китайский
					a.help__item-value(href='mailto:China@rmc.one') China@rmc.one
				.help__item
					.help__item-title Английский
					a.help__item-value(href='mailto:English@rmc.one') English@rmc.one