section.main
	.container
		.main__content
			h1.main__title.animated-fadeInUp Мультиклеточный майнинг
			h2.main__sub-title.animated-fadeInUp Революционная экосистема для майнеров и инвесторов
			.purchase.vert-center.animated-fadeInUp
				a.button.button-primary.button_lg.purchase__button.button-buy(href="#") Купить RMC
				.purchase__list
					.purchase__list-item
						span.purchase__list-title Количество токенов RMC:
						| 
						span.purchase__list-value!= '15132 <span class="purchase__list-in-value">из</span> 25000'
					.purchase__list-item
						span.purchase__list-title Стоимость 1 RMC:
						| 
						span.purchase__list-value $4175
					.purchase__list-item
						span.purchase__list-title Собрано:
						| 
						span.purchase__list-value 535 BTC
						span.purchase__list-separate!= ' | '
						span.purchase__list-value 513 ETH
						span.purchase__list-separate!= ' | '
						span.purchase__list-value $37M
			.purchase-counter.animated-fadeInUp
				.purchase-counter__title Стоимость токена возрастет через:
				.purchase-counter__body.timer__block
	.video-bg-wrapper
		.video-bg-block
			video.video-bg(width='100%' height='auto' preload='auto' autoplay='autoplay' muted='muted'
	    loop='loop' /*poster='assets/video-bg/video-bg.jpg'*/)
				source(src='assets/video-bg/rmc-bg.mp4' type='video/mp4;')
				source(src='assets/video-bg/rmc-bg.webm' type='video/webm;')