section.mass-media
	.container
		h2.mass-media__title.title-main.animated-fadeInUp Пресса о нас
	.mass-media__items-wrap.vert-center.animated-fadeInUp
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/rbc.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/ria-news.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/insider.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/news-paper.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/crypt.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/finanz.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/rns.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/bloomberg.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/bitcoin.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/investopedia.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/rucoin.png' alt='')
		a.mass-media__item(href='#' target='_blank')
			span.mass-media__item-inner
				img.mass-media__item-img(src='assets/img/economics.png' alt='')