section.more-info-bg
	.more-info-bg__img
	.container
		.more-info-bg__content
			.more-info-bg__content-top.animated-fadeInUp
				.more-info-bg__count 02
				h2.more-info-bg__title Майнинговые центры в России
			p.more-info-bg__text.animated-fadeInUp Запущено 20 МВт в Технополисе, Москва. Возможность подключить майнер в колокейшн. Сейчас строятся еще 2 центра по 20 МВт.
			.more-info-bg__items-wrap
				.more-info-bg__item.animated-fadeInUp
					.more-info-bg__item-inner
						.more-info-bg__item-icon
							img(src='assets/img/svg/ic-home.svg' alt='')
						.more-info-bg__item-text Общая площадь: 9000 m2
				.more-info-bg__item.animated-fadeInUp
					.more-info-bg__item-inner
						.more-info-bg__item-icon
							img(src='assets/img/svg/ic-electricity.svg' alt='')
						.more-info-bg__item-text Электрическая мощность: 20 MBт
				.more-info-bg__item.animated-fadeInUp
					.more-info-bg__item-inner
						.more-info-bg__item-icon
							img(src='assets/img/svg/ic-cogwheel.svg' alt='')
						.more-info-bg__item-text Вмещает: до 20 000 майнеров Sx6