section.more-info.more-info-img-left
	.container
		.more-info__img.animated-fadeInUp
			img(src="assets/img/miner-01.png" srcset="assets/img/miner-01@2x.png 2x, assets/img/miner-01@3x.png 3x" alt="")
		.more-info__content
			.more-info__content-top.animated-fadeInUp
				.more-info__count 01
				h2.more-info__title!= 'Производство майнеров Sunrise s11i'
				.more-info__spec.vert-center
					span.more-info__spec-item 256 SHA
					span.more-info__spec-separate
					span.more-info__spec-item 22.6 TH/s
					span.more-info__spec-separate
					span.more-info__spec-item 2.3-2.5 КВт
					span.more-info__spec-separate
					span.more-info__spec-item 16 nm
			p.more-info__text.animated-fadeInUp!= 'Мы производим майнер с лучшим ROI в своем классе. Фиксированная стоимость для участников клуба RMC'
			.more-info__link-wrap.animated-fadeInUp
				a.more-info__link.bottom-line(href='#' target='_blank') Список диллеров