section.more-info.more-info-img-right
	.container
		.more-info__content
			.more-info__content-top.animated-fadeInUp
				.more-info__count 02
				h2.more-info__title!= 'Разработка майнеров нового поколения Multiclet'
			p.more-info__text.animated-fadeInUp!= '10% от ICO идет на разработку майнера Multiclet. Уже готов чип на 180 nm. Цель: запустить модель 28 nm. Новейший DSP-процессор на не фон Неймановской архитектуре обеспечит снижение потребления электричества до 220 раз и ROI менее 24 часов.'
		.more-info__img.animated-fadeInUp
			img(src="assets/img/multiclet.png" srcset="assets/img/multiclet@2x.png 2x, assets/img/multiclet@3x.png 3x" alt="")