section.more-info.more-info-dark#more-info-dark
	.container
		.more-info-dark__item.info-private-club
			.more-info__content
				.more-info__content-top.animated-fadeInUp
					.more-info__count 04
					h2.more-info__title!= 'Закрытый клуб майнеров'
				p.more-info__text.animated-fadeInUp!= '20% от мощности отчисляются в Клуб совместного майнинга, членом которого становится каждый владелец токена RMC.'
			.more-info__img.animated-fadeInUp
				img(src="assets/img/private-club.png" srcset="assets/img/private-club@2x.png 2x, assets/img/private-club@3x.png 3x" alt="")
		.more-info-dark__item-wrap#more-info-dark__item-wrap
			.info-profit__img#info-profit__img
				p.info-profit__img-text Участник клуба
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 350 551')
					defs
						path#a3(d='M.051 81.5L174.734 0l174.682 81.5L174.734 163z')
						mask#b3(width='349.365', height='163', x='0', y='0', fill='#fff')
							use(xlink:href='#a3')
						lineargradient#c3(x1='-17.662%', x2='97.243%', y1='47.276%', y2='47.276%')
							stop(offset='0%', stop-color='#D21F26', stop-opacity='.055')
							stop(offset='100%', stop-color='#D11F26')
					g(fill='none', fill-rule='evenodd')
						g(transform='translate(0 16)')
							path(stroke='#D21F26', d='M29.428 81.5l145.306 67.794L320.039 81.5 174.734 13.706 29.428 81.5z')
							use(stroke='#79818B', stroke-dasharray='2,5', stroke-width='2', mask='url(#b3)', opacity='.35', xlink:href='#a3')
						path(fill='url(#c3)', d='M0 63.5L133.5 0 267 63.5 133.5 127z', opacity='.3', transform='translate(42 378)')
						path(fill='url(#c3)', d='M0 63.5L133.5 0 267 63.5 133.5 127z', opacity='.1', transform='translate(42 407)')
						path(fill='url(#c3)', d='M0 63.5L133.5 0 267 63.5 133.5 127z', opacity='.5', transform='translate(42 346)')
						path(fill='url(#c3)', d='M0 63.5L133.5 0 267 63.5 133.5 127z', transform='translate(42 314)')
						text(fill='#FFF', font-family='ProximaNova', font-size='24', font-weight='300', transform='translate(42 314)')
							tspan(x='109', y='71') RMC
						g
							path(fill='#D21F26', d='M105.682 184l4.5-7 4.5 7z')
							path(stroke='#D21F26', stroke-linecap='square', d='M110.182 178.77v146.467')
							g
								path(fill='#D21F26', d='M234.154 319l4.5 7 4.5-7z')
								path(stroke='#D21F26', stroke-linecap='square', d='M238.654 177.77v146.467')
						g.info-profit__img-icon.info-profit__img-icon-chip
							g(transform='translate(211.973 223)')
								circle(cx='28', cy='28', r='28', fill='#181B1E', stroke='#D21F26')
								g(fill='#D21F26')
									path(d='M39.682 25.508c0 6.4-2.895 10.633-5.323 13.057-2.757 2.751-5.704 3.973-6.359 3.973-.654 0-3.602-1.222-6.358-3.973-2.429-2.424-5.324-6.657-5.324-13.057v-6.16A49.85 49.85 0 0 0 28 14.286a51.432 51.432 0 0 0 11.682 5.063v6.16zm.808-7.282a50.077 50.077 0 0 1-12.165-5.256.63.63 0 0 0-.65 0 48.685 48.685 0 0 1-12.165 5.256.65.65 0 0 0-.47.628v6.654c0 6.853 3.103 11.39 5.707 13.988C23.55 42.293 26.815 43.84 28 43.84c1.185 0 4.45-1.547 7.254-4.344 2.603-2.599 5.706-7.135 5.706-13.988v-6.654a.65.65 0 0 0-.47-.628z')
									path(d='M22.913 19.049a.68.68 0 0 0-.87-.364 55.549 55.549 0 0 1-3.653 1.242.649.649 0 0 0-.47.616v2.491c0 .357.3.646.67.646.37 0 .67-.289.67-.646v-2.02c1.101-.342 2.2-.721 3.275-1.128a.637.637 0 0 0 .378-.837M23.675 19.36a.71.71 0 0 0 .286-.06l.014-.006a.717.717 0 0 0-.577-1.313l-.011.005a.717.717 0 0 0 .288 1.374M35.634 33.872c-.293-.208-.684-.118-.875.2a16.673 16.673 0 0 1-3.63 4.217.726.726 0 0 0-.12.96.599.599 0 0 0 .886.13 17.944 17.944 0 0 0 1.956-1.889c.74-.832 1.402-1.73 1.966-2.668.191-.317.109-.742-.183-.95M29.829 38.897l-.04.024a.711.711 0 0 0-.255.966.695.695 0 0 0 .954.257l.047-.027a.712.712 0 0 0 .25-.967.694.694 0 0 0-.956-.253')
						g.info-profit__img-icon.info-profit__img-icon-security
							g(transform='translate(82.976 225)')
								circle(cx='28', cy='28', r='28', fill='#181B1E', stroke='#D21F26')
								g(fill='#D21F26')
									path(d='M42.933 26.432a.727.727 0 0 0 0-1.455h-3.632v-2.91h3.632a.727.727 0 0 0 0-1.456h-3.632v-.728a3.64 3.64 0 0 0-3.632-3.638h-.726v-3.639a.727.727 0 1 0-1.453 0v3.639h-2.906v-3.639a.727.727 0 1 0-1.453 0v3.639h-2.905v-3.639a.727.727 0 0 0-1.453 0v3.639h-2.906v-3.639a.727.727 0 1 0-1.453 0v3.639h-.727a3.64 3.64 0 0 0-3.632 3.638v.728h-3.632a.727.727 0 0 0 0 1.455h3.632v2.911h-3.632a.727.727 0 0 0 0 1.455h3.632v2.911h-3.632a.727.727 0 0 0 0 1.456h3.632v2.91h-3.632a.727.727 0 0 0 0 1.456h3.632v.728a3.64 3.64 0 0 0 3.632 3.638h.727v3.64a.727.727 0 1 0 1.453 0v-3.64h2.905v3.64a.727.727 0 1 0 1.453 0v-3.64h2.906v3.64a.727.727 0 1 0 1.453 0v-3.64h2.905v3.64a.727.727 0 1 0 1.453 0v-3.64h.727a3.64 3.64 0 0 0 3.632-3.638v-.728h3.632a.727.727 0 0 0 0-1.456h-4.358a.727.727 0 0 0-.727.728v1.456a2.184 2.184 0 0 1-2.179 2.183H19.687c-1.201 0-2.179-.98-2.179-2.183v-16.01c0-1.203.978-2.183 2.18-2.183h15.981c1.201 0 2.18.98 2.18 2.183v11.643a.727.727 0 1 0 1.452 0V30.8h3.632a.727.727 0 0 0 0-1.456h-3.632v-2.91h3.632z')
									path(d='M25.377 26.56a.72.72 0 1 1 0-1.441.72.72 0 0 1 0 1.441m0-2.88c-1.191 0-2.16.97-2.16 2.16 0 .938.603 1.73 1.44 2.028v5.892h-2.16a.72.72 0 0 1-.72-.72V22.96a.72.72 0 0 1 .72-.72h4.32a.72.72 0 1 0 0-1.44h-4.32c-1.19 0-2.16.97-2.16 2.16v10.08c0 1.19.97 2.16 2.16 2.16h2.88a.72.72 0 0 0 .72-.72v-6.612a2.157 2.157 0 0 0 1.44-2.028c0-1.19-.97-2.16-2.16-2.16M29.697 30.88a.72.72 0 1 1 .001-1.441.72.72 0 0 1 0 1.441m2.879-10.08h-2.88a.72.72 0 0 0-.72.72v6.612a2.157 2.157 0 0 0-1.44 2.028c0 1.19.97 2.16 2.16 2.16 1.191 0 2.16-.97 2.16-2.16 0-.938-.603-1.73-1.44-2.028V22.24h2.16a.72.72 0 0 1 .72.72v10.08a.72.72 0 0 1-.72.72h-4.32a.72.72 0 1 0 0 1.44h4.32c1.19 0 2.16-.97 2.16-2.16V22.96c0-1.19-.97-2.16-2.16-2.16')
			.info-profit__img.info-profit__img-mobile-hide
				p.info-profit__img-text Участник клуба
				img(src='assets/img/svg/club-scheme-first.svg', alt='')
			.more-info-dark__item.info-profit
				.info-profit__content.animated-fadeInUp
					h3.info-profit__title Участник получает выгоду от каждого элемента экосистемы RMC:
					ul.info-profit__list.list-styled
						li Возможность купить майнер Sunrise по фиксированной цене $1600 (без учета налогов)
						li Возможность обменять RMC на майнер Multiclet
						li Возможность размещения оборудования в ЦОД
						li Участвовать в пуле совместного майнинага RMC
						li Возможность продать токен RMC любому лицу
					.info-profit__btn-wrap
						a.button.button-primary.button_lg.info-profit__button.button-buy(href="#") Купить RMC
			.more-info-dark__item.info-security
				.info-profit__img.info-profit__img-mobile
						p.info-profit__img-text Участник клуба
						img(src='assets/img/svg/club-scheme.svg', alt='')
				.info-security__content.animated-fadeInUp
					h3.info-security__title.info-profit__title RMC гарантирует технологическую безопасность:
					.info-security__items-wrap
						.info-security__item.info-security__item-techno
							h4.info-security__item-title Технологическая безопасность
							p.info-security__item-text Покупка RMC происходит через известный криптокошелек Mycelium: 190 000 пользователей, $1.5 млрд. на счетах.
						.info-security__item.info-security__item-chip
							h4.info-security__item-title Собственный чип безопасности
							p.info-security__item-text На уровне криптографии гарантирует отчисление 20% в Клуб совместного майнинга.