section.plan#plan
	.container
		h2.plan__title.title-main.animated-fadeInUp План проекта
		.plan__item-wrap
			.plan__item
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Декабрь
					span.plan__item-year.animated-fadeInUp 2016
				p.plan__item-text.animated-fadeInUp Мультиклет разрабатывает математическую модель процессора и майнера нового поколения
			.plan__item.vert-center
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Апрель
					span.plan__item-year.animated-fadeInUp 2017
				p.plan__item-text.animated-fadeInUp Презентация нового майнера Pantech, адаптированного для использования в России. Начало продаж через дилерскую сеть.
			.plan__item.vert-center
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Август
					span.plan__item-year.animated-fadeInUp 2017
				p.plan__item-text.animated-fadeInUp Проведение pre-ICO Russian Mining Coin
			.plan__item.vert-center
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Сентябрь
					span.plan__item-year.animated-fadeInUp 2017
				p.plan__item-text.animated-fadeInUp Проведение ICO. Запуск производства нового майнера Sunrise (BTC). Начало разработки майнера Мультиклет.
			.plan__item.vert-center
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Июль
					span.plan__item-year.animated-fadeInUp 2018
				p.plan__item-text.animated-fadeInUp Начало производства майнеров Мультиклет. Обмен токена 1 RMC на майнер Мультиклет или продолжение совместного майнинга на майнерах Sunrise.
			.plan__item.vert-center
				h4.plan__item-date
					span.plan__item-month.animated-fadeInUp Октябрь
					span.plan__item-year.animated-fadeInUp 2018
				p.plan__item-text.animated-fadeInUp Запуск работы майнеров Мультиклет.