section.public.public_with-bg
	.container.animated-fadeInUp
		.social
			.social__title Будьте в курсе
			.social__list.vert-center
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="facebook social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" d="M23.315 34h-4.878V22.499H16v-3.963h2.437v-2.38c0-3.233 1.376-5.156 5.286-5.156h3.255v3.964h-2.034c-1.523 0-1.623.554-1.623 1.588l-.007 1.984H27l-.431 3.963h-3.255V34z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="vk social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" d="M22.726 29.941s.451-.049.682-.292c.212-.224.205-.645.205-.645s-.029-1.967.902-2.258c.917-.285 2.094 1.903 3.344 2.744.944.636 1.66.497 1.66.497l3.34-.046s1.746-.105.918-1.453c-.068-.11-.483-.997-2.482-2.82-2.094-1.907-1.813-1.598.708-4.898 1.536-2.009 2.15-3.235 1.958-3.76-.183-.502-1.312-.368-1.312-.368l-3.76.022s-.278-.037-.485.084c-.201.12-.332.396-.332.396s-.594 1.555-1.388 2.877c-1.674 2.79-2.343 2.937-2.617 2.765-.637-.405-.478-1.623-.478-2.489 0-2.704.418-3.83-.813-4.122-.408-.098-.709-.161-1.754-.172-1.342-.013-2.477.005-3.12.313-.428.206-.758.664-.556.69.248.033.81.15 1.109.548.385.515.372 1.67.372 1.67s.221 3.182-.518 3.577c-.506.271-1.2-.282-2.693-2.813-.764-1.296-1.342-2.73-1.342-2.73s-.11-.267-.31-.411a1.556 1.556 0 0 0-.577-.228l-3.572.023s-.537.014-.734.243c-.174.203-.013.624-.013.624s2.796 6.423 5.963 9.66c2.904 2.967 6.2 2.772 6.2 2.772h1.495z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="slack social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" d="M27.09 18.054l1.337 4.122 1.97-.641a1.96 1.96 0 0 1 1.209 3.726l-1.97.64.66 2.038c.332 1.02-.301 2.125-1.34 2.424a1.955 1.955 0 0 1-2.379-1.214l-.66-2.037-4.118 1.34.66 2.037c.332 1.02-.301 2.125-1.34 2.424A1.955 1.955 0 0 1 18.74 31.7l-.66-2.037-2.036.662c-1.02.332-2.122-.302-2.42-1.341a1.96 1.96 0 0 1 1.212-2.383l2.034-.662-1.338-4.124-2.034.662c-1.02.332-2.122-.302-2.421-1.342a1.959 1.959 0 0 1 1.212-2.382l2.034-.662-.64-1.975a1.956 1.956 0 1 1 3.72-1.21l.64 1.974 4.117-1.34-.64-1.974a1.955 1.955 0 1 1 3.72-1.21l.64 1.973 1.97-.642a1.96 1.96 0 0 1 1.209 3.726l-1.97.642zm-3.72 1.21l-4.118 1.34 1.338 4.123 4.117-1.34-1.338-4.123z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="youtube social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" d="M32 25.564v-7.128S32 15 28.553 15H15.445S12 15 12 18.436v7.128S12 29 15.445 29h13.108S32 29 32 25.564m-6.117-3.554l-6.548 3.833v-7.667l6.548 3.834")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="telegram social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" fill-rule="nonzero" d="M8.442 22.438l5.759 2.15 2.233 7.168a.68.68 0 0 0 1.075.325l3.209-2.617a.951.951 0 0 1 1.167-.034l5.792 4.21a.68.68 0 0 0 1.066-.41l4.242-20.41a.682.682 0 0 0-.908-.774L8.433 21.17c-.583.225-.575 1.05.009 1.267zm7.634 1.009l11.259-6.934c.2-.125.408.15.233.308l-9.292 8.642a1.96 1.96 0 0 0-.6 1.15l-.317 2.342c-.042.317-.483.342-.567.042l-1.216-4.275a1.144 1.144 0 0 1 .5-1.275z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="linkedin social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(class="el3" d="M12.504 18.413h3.899V32h-3.899V18.413zm1.85-1.7h-.028c-1.411 0-2.326-1.038-2.326-2.353 0-1.342.942-2.36 2.381-2.36 1.438 0 2.323 1.015 2.35 2.356 0 1.315-.912 2.358-2.377 2.358zM32 32h-4.42v-7.032c0-1.84-.692-3.095-2.212-3.095-1.163 0-1.81.847-2.11 1.665-.114.292-.096.7-.096 1.11V32h-4.38s.057-12.455 0-13.587h4.38v2.132c.259-.932 1.658-2.263 3.89-2.263 2.771 0 4.948 1.956 4.948 6.163V32z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="twitter social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" d="M30.526 16.846a4.51 4.51 0 0 0 1.893-2.513 8.355 8.355 0 0 1-2.736 1.102A4.194 4.194 0 0 0 26.539 14c-2.38 0-4.307 2.035-4.307 4.544 0 .356.036.703.11 1.034-3.58-.19-6.754-1.996-8.88-4.747a4.724 4.724 0 0 0-.583 2.285c0 1.576.76 2.967 1.917 3.783a4.154 4.154 0 0 1-1.953-.568v.056c0 2.202 1.484 4.04 3.458 4.455a4.01 4.01 0 0 1-1.137.16c-.277 0-.548-.027-.81-.08.548 1.804 2.139 3.12 4.025 3.155-1.476 1.219-3.333 1.944-5.351 1.944-.348 0-.691-.02-1.028-.062A11.747 11.747 0 0 0 18.604 32c7.926 0 12.257-6.924 12.257-12.929 0-.197-.002-.394-.01-.587A9.006 9.006 0 0 0 33 16.13a8.257 8.257 0 0 1-2.474.715z")
				a.social__link(href='#' target='_blank')
					svg(xmlns="http://www.w3.org/2000/svg" class="wechat social__link-icon" width="44" height="44" viewBox="0 0 44 44")
						g(class="el1" fill-rule="evenodd")
							circle(class="el2" cx="22" cy="22" r="21" stroke-width="2")
							path(path class="el3" fill-rule="nonzero" d="M18.82 10C13.405 10 9 13.757 9 18.376c0 2.466 1.19 4.684 3.36 6.29l-1.523 4.572L15.6 26.29c1.322.415 2.936.562 4.493.39 1.263 2.446 4.117 4.116 7.392 4.116.995 0 1.915-.187 2.77-.442l3.956 2.213-1.103-3.784c1.489-1.236 2.464-2.958 2.464-4.919 0-3.587-3.121-6.448-7.077-6.87C27.72 12.976 23.653 10 18.82 10zm-3.466 4.621c.636 0 1.155.52 1.155 1.155 0 .637-.519 1.156-1.155 1.156a1.158 1.158 0 0 1-1.155-1.156c0-.636.519-1.155 1.155-1.155zm6.932 0c.636 0 1.155.52 1.155 1.155 0 .637-.519 1.156-1.155 1.156a1.158 1.158 0 0 1-1.156-1.156c0-.636.52-1.155 1.156-1.155zm5.199 3.466c3.896 0 6.931 2.62 6.931 5.776 0 1.709-.87 3.207-2.308 4.272l-.323.241.526 1.803-1.877-1.054-.244.082c-.808.27-1.73.433-2.705.433-3.897 0-6.932-2.62-6.932-5.777 0-3.156 3.035-5.776 6.932-5.776zm-2.6 3.466a.888.888 0 0 0-.866.866c0 .463.404.867.866.867a.888.888 0 0 0 .867-.867.888.888 0 0 0-.867-.866zm5.199 0a.888.888 0 0 0-.867.866c0 .463.404.867.867.867a.888.888 0 0 0 .866-.867.888.888 0 0 0-.866-.866z")
		.subscribe
			.subscribe__title Подписывайтесь на рассылку
			form.subscribe__form.vert-center#subscribe__form-top
				.subscribe__input-wrap
					input.subscribe__input.input-on-bg(type='email' placeholder='Введите ваш Email' required)
					.subscribe__input-icon.subscribe__input-icon_error !
					.subscribe__input-icon.subscribe__input-icon_valid
						svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
							path(fill="none" fill-rule="evenodd" stroke-width="2" d="M4.64 8.69l3.857 3.775L16 4.01")
				button.button.subscribe__button.button_on-bg Подписаться
				.subscribe__thanks
					.subscribe__thanks-content
						| Спасибо, что подписались на рассылку
						span.subscribe__thanks-close
							svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 23 24')
								g(fill='none', fill-rule='evenodd', stroke-linecap='square')
									path(d='M.215 12.028h22.091H.216zM11.556.87v22.37V.87z')
