section.team#team
	.container
		h2.team__title.title-main.animated-fadeInUp Команда
		.team__slider.owl-carousel.animated-fadeInUp
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
			.team__item
				img.team__item-img(src="assets/img/team/photo.jpg" srcset="assets/img/team/photo@2x.jpg 2x, assets/img/team/photo@3x.jpg 3x" alt='')
				.team__item-content
					h4.team__item-title Сергей Бобылев
					p.team__item-text Основатель проекта, трансформирует идеи в смыслы и выводит их на новый уровень. Отвечает за связи с общественностью, развитие и продвижение. Возглавляет компанию ООО «Радиус Груп».
