section.timer
	.container.animated-fadeInUp
		h3.timer__title Стоимость токена возрастет через:
		.timer__block-main.timer__block
		.timer__btn-wrap
			a.button.button-dark.button_lg.timer__btn.button-buy(href='#') Купить RMC