include mixins
doctype html
html(class='no-js' lang='ru')
	head
		meta(charset='utf-8')
		meta(name='SKYPE_TOOLBAR' content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
		meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title
		meta(name='keywords' content='')
		meta(name='description' content='')
		+favicon('assets/img/favicon')
		block commonStyles
			block styles
				+concatCss('assets/css/bundle.css', [
					{
						attrs: {
							href: 'assets/css/owl.carousel.css',
							rel: 'stylesheet'
						}
					},
					{
						attrs: {
							href: 'assets/css/jquery.arcticmodal.css',
							rel: 'stylesheet'
						}
					},
					{
						attrs: {
							href: 'assets/css/main.css',
							rel: 'stylesheet'
						}
					}
				])
			block mainStyles
			block scriptsInHead
				+concatJs('assets/js/vendor.js', [
					{
						attrs: {
							src:'assets/js/modernizr-custom.js'
						}
					},
					{
						attrs: {
							src:'assets/js/current-device.js'
						}
					}
				])
	body
		.wrapper
			block content
		block commonScripts
			block scripts
				+concatJs('assets/js/bundle.js', [
					{
						attrs: {
							src:'assets/js/jquery-2.2.4.min.js'
						}
					},
					{
						attrs: {
							src:'assets/js/jquery.cookie.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.validate.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.waypoints.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/inview.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.easing.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.easing.compatibility.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/owl.carousel.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.arcticmodal.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.plugin.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.countdown.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/jquery.countdown-ru.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/moment.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/TweenMax.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/ScrollMagic.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/animation.gsap.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/smoothscroll.js'
						}
					},
					{
						attrs: {
							src: 'assets/js/main.js'
						}
					}
				])
			block mainScripts