extends ../base/template

block content
	include blocks/common-blocks/menu
	include blocks/common-blocks/header
	include blocks/common-blocks/header-fixed
	main.content
		include blocks/index-blocks/main
		include blocks/index-blocks/public
		include blocks/index-blocks/about
		include blocks/index-blocks/more-info-left
		include blocks/index-blocks/more-info-right
		include blocks/index-blocks/more-info-bg
		include blocks/index-blocks/more-info-dark
		include blocks/index-blocks/plan
		include blocks/index-blocks/team
		include blocks/index-blocks/mass-media
		include blocks/index-blocks/faq
		include blocks/index-blocks/timer
		include blocks/index-blocks/public-without-bg
		include blocks/index-blocks/help
	include blocks/common-blocks/footer