footer.footer
	.container
		.footer__inner.animated-fadeInUp.invisible
			.footer__copyright © Russian Miner Coin, 2017
.video-modal-wrap
	#video-modal.video-modal
		iframe(width='100%', height='100%', src='https://www.youtube.com/embed/PSf8wNjMKH0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		.video-modal__close.arcticmodal-close