.header-fixed#header-fixed
	.header-fixed-inner#header-fixed-inner
		.header-container.vert-center
			a.site-logo.header-fixed-site-logo(href="/")
				img.site-logo__img(src="assets/img/site-logo.png" srcset="assets/img/site-logo@2x.png 2x, assets/img/site-logo@3x.png 3x" alt="")
			.header-fixed-actions-block.actions-block.vert-center
				.select-lang.actions-block__item
					a.select-lang__title(href="#") ru
					ul.select-lang__list.dropdown-menu.list-reset
						li.select-lang__list-item.select-lang__list-item_active: a.select-lang__list-link(href="#") ru
						li.select-lang__list-item: a.select-lang__list-link(href="#") en
						li.select-lang__list-item: a.select-lang__list-link(href="#") 日本の
						li.select-lang__list-item: a.select-lang__list-link(href="#") 한국의
						li.select-lang__list-item: a.select-lang__list-link(href="#") 中国
				a.button.button-primary.actions-block__item.actions-block__item-request(href='#' target='_blank') Оформить заявку на sunrise
				a.button.button-transparent.actions-block__item.actions-block__item-buy.button-buy(href="#") Купить RMC
				a.menu-hamburger-button.actions-block__item(href="#")
					svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 32 32')
						g(fill-rule='evenodd', stroke-width='2')
							path(d='M0 16h32M0 24h32M0 8h32')