.menu#menu
	.menu__shadow#menu__shadow
	.menu__content
		.menu__content-inner
			.menu__content-main
				.menu__actions
					.select-lang.menu__actions-item.menu__actions-item-lang
						a.select-lang__title(href="#") ru
						.dropdown-menu
							a.dropdown-menu__title(href='#') Выберите язык
							a.menu__actions-item-close(href="#")
							ul.select-lang__list.list-reset
								li.select-lang__list-item.select-lang__list-item_active: a.select-lang__list-link(href="#") ru
								li.select-lang__list-item: a.select-lang__list-link(href="#") en
								li.select-lang__list-item: a.select-lang__list-link(href="#") 日本の
								li.select-lang__list-item: a.select-lang__list-link(href="#") 한국의
								li.select-lang__list-item: a.select-lang__list-link(href="#") 中国
					a.button.button-transparent.menu__actions-item.menu__actions-item-buy(href="#") Купить RMC
					a.menu__actions__item.menu__actions-item-close(href="#")
				nav.menu__nav
					ul.menu__list.list-reset
						li.menu__list-item: a.menu__list-link.bottom-line(href='#about') О проекте
						li.menu__list-item: a.menu__list-link.bottom-line(href='#plan') Инвестору
						li.menu__list-item: a.menu__list-link.bottom-line(href='#team') Команда
						li.menu__list-item: a.menu__list-link.bottom-line(href='#faq') FAQ
				.menu__button-buy-mobile-wrap
					a.button.button-primary.menu__button-buy-mobile(href="#") Купить RMC
				.menu__links-more-wrap
					.menu__links-more-item
						a.more-info__link.bottom-line.menu__link-more(href='#' target='_blank') Дилеры Sunrise s11i
					.menu__links-more-item
						a.more-info__link.bottom-line.menu__link-more(href='' target='_blank') Оформить заявку на Sunrise
			.menu__content-bottom
				.info-links.menu__info-links.vert-center
					a.info-links__item.info-links__item_type_video(href='#' target='_blank')
						span.info-links__item-inner.vert-center
							span.info-links__icon
								svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 50 50')
									defs
										circle#a9(cx='25', cy='25', r='25')
									g(fill='none', fill-rule='evenodd')
										mask#b9(fill='#fff')
											use(xlink:href='#a9')
										use(fill='#d21f26', opacity='.9', xlink:href='#a9')
										g.circle(mask='url(#b9)')
											path(d='M0 0h50v50H0z')
										g(fill='#FFF', mask='url(#b9)')
											path(d='M21.154 16.346v18.75l11.538-9.375z')
							span.info-links__text Видео
					a.info-links__item.info-links__item_type_file(href='#' target='_blank')
						span.info-links__item-inner.vert-center
							span.info-links__icon
								img(src="assets/img/svg/file.svg" alt="")
							span.info-links__text Презентация
					a.info-links__item.info-links__item_type_file(href='#' target='_blank')
						span.info-links__item-inner.vert-center
							span.info-links__icon
								img(src="assets/img/svg/file.svg" alt="")
							span.info-links__text Whitepaper
		.confirm-form-wrap
			a.menu__actions-item-close.menu__actions-item-close-absolute(href="#")
			form.confirm-form#confirm-form(action='javascript:void(0);' data-url='ajax/invest.html')
				.confirm-form__item-wrap
					.confirm-form__item
						label.confirm-form__label
							span.confirm-form__checkbox-wrap.checkbox-wrap
								input.confirm-form__checkbox.checkbox#confirm(name='confirm' type='checkbox' required)
								span.checkbox-icon
							span.confirm-form__item-text I confirm that I am not Citizen or Resident of the USA or Singapore
					.confirm-form__item
						label.confirm-form__label
							span.confirm-form__checkbox-wrap.checkbox-wrap
								input.confirm-form__checkbox.checkbox#agree(name='agree' type='checkbox' required)
								span.checkbox-icon
							span.confirm-form__item-text I am aware of how Pre-ICO contract work and understand all of the risks
				button.button.button-primary.button_lg.confirm-form__button.button_disabled(type='submit') Купить
			.invest-modal#invest-modal
				h2.invest-modal__title Invest
				p.invest-modal__text
					| Чтобы участвовать в ICO и получить токены RMC, необходимо скачать криптокошелек Mycelium. Дальнейшие инструкции и подробное описание проекта вы можете найти в статье 
					a(href='#', target='_blank') what is RMC and how it works.
				.invest-modal__download
					.invest-modal__download-title Скачать кошелек Mycelium:
					.invest-modal__download-link-wrap
						a.invest-modal__download-link(href='#', target='_blank')
							img(src='assets/img/svg/google-play.svg', alt='')