@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

@mixin font-size-rem($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@function vw($divisible){
  $divisor: 320;
  $result: ($divisible / $divisor) * 100vw;
  @return $result;
}