// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Typography
// $font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1100px !default;
$header-container-width: 1336px !default;
$column-padding: 15px !default;

//colors
$light-grey: #e1e1e1 !default;
$steel-grey: #79818b !default;
$pale-grey: #e4e6eb !default;
$pale-grey: #e4e6eb !default;
$darkish-blue: #003399 !default;
$purpley-grey: #9b9b9b !default;
$black: #333 !default;
$tomato: #eb4340 !default;
$lipstick: #d21f26 !default;
$dark: #273444 !default;
$white: #fff !default;
$green: #45c53a !default;
$border-green: #26fd14 !default;
$primary-color: $lipstick !default;

$gray-base:              #000 !default;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
// $gray:                   lighten($gray-base, 33.5%) !default; // #555
// $gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$border-color: #e4e6eb !default;

//global
$font-family: 'ProximaNova', Arial, sans-serif !default;
$font-size-base: 17px !default;
$text-color: $dark !default;
// $line-height-base: 1.428571429 !default;
$line-height-base: (27 / 17) !default;
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default;
$body-bg: #fff !default;
$gray-text: #e4e6eb !default;

//links
$link-color: $primary-color !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

//heading
$font-size-h1: 70px !default;
$font-size-h2: 50px !default;
$font-size-h3: 35px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;

$headings-font-family: inherit !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$padding-base-vertical: 10px !default;
$padding-base-horizontal: 24px !default;
$border-radius-base: 100px !default;

//buttons
$button-font-weight: 700 !default;
$button-font-size: 12px !default;
$button-font-color: $dark !default;
$button-bg-color: $white !default;
$button-bg-color-hover: transparent !default;
$button-border-color-hover: $white !default;
$button-border: 2px solid transparent !default;
$button-border-grey: rgba(74,74,74,.2) !default;
$button-border-radius-base: $border-radius-base !default;
$button-box-shadow:0 5px 9px 0 rgba(0, 0, 0, 0.23) !default;
$button-primary-bg-color: $primary-color !default;
$button-primary-bg-color-hover: $tomato !default;
$button-lg-font-size: 14px !default;
$transition: all .35s !default;

//forms
$input-bg: rgba(216, 216, 216, .3) !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $white !default;
$input-border: 2px solid transparent !default;
$input-border-focus: rgba(216, 216, 216, .3) !default;
$input-border-radius: $border-radius-base !default;
$input-color-placeholder: #999 !default;
$input-height-base: ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$cursor-disabled: not-allowed !default;

//== Media queries breakpoints mobile first
$screen-xs-sm-min: 320px !default;
$screen-xs-min:    480px !default;
$screen-sm-min:    768px !default;
$screen-md-min:    992px !default;
$screen-lg-min:    1200px !default;