// Buttons
//––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 44px;
  padding: 0 48px;
  color: $button-font-color;
  text-align: center;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: 42px;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $button-bg-color;
  border-radius: $button-border-radius-base;
  border: $button-border;
  cursor: pointer;
  position: relative;
  transition: all .35s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.button_lg{
  height: 50px;
  line-height: 48px;
  padding-left: 64px;
  padding-right: 64px;
  font-size: $button-lg-font-size;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: $button-font-color;
  background-color: $button-bg-color-hover;
  border-color: $button-border-color-hover; 
  outline: 0;
  text-decoration: none;
}

.button_on-bg:hover{
  color: $white;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: $button-primary-bg-color;
  border-color: $button-primary-bg-color;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: $button-primary-bg-color-hover;
  border-color: $button-primary-bg-color-hover;
  box-shadow: $button-box-shadow;
  transform: translate3d(0, -4px, 0);
}

//button-dark
.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark {
  color: #fff;
  background-color: $dark;
  border-color: $dark;
}

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover {
  box-shadow: $button-box-shadow;
  transform: translate3d(0, -4px, 0);
}

//button-transparent
.button.button-transparent,
button.button-transparent,
input[type="submit"].button-transparent,
input[type="reset"].button-transparent,
input[type="button"].button-transparent {
  color: $dark;
  background-color: transparent;
  border-color: $button-border-grey;
}

.button.button-transparent:hover,
button.button-transparent:hover,
input[type="submit"].button-transparent:hover,
input[type="reset"].button-transparent:hover,
input[type="button"].button-transparent:hover {
  color: #fff;
  background-color: $button-primary-bg-color-hover;
  border-color: $button-primary-bg-color-hover;
  box-shadow: $button-box-shadow;
  transform: translate3d(0, -4px, 0);
}

.button_disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled{
  background: rgba(155,155,155,.5) !important;
  border-color: transparent !important;
  box-shadow: none !important;
  transform: translate3d(0, 0, 0) !important;
  color: #fff !important;
  pointer-events: none !important;
  cursor: default !important;
}

.button_disabled:hover,
button:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"]:disabled:hover{
  background: rgba(155,155,155,.5) !important;
  border-color: transparent !important;
  box-shadow: none !important;
  transform: translate3d(0, 0, 0) !important;
  color: #fff !important;
}