// Code
//––––––––––––––––––––––––––––––––––––––––––––––––––

code {
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 90%;
  white-space: nowrap;
  background: lighten($light-grey, 6.4%);
  border: 1px solid $light-grey;
  border-radius: $border-radius-base;
}

pre > code {
  display: block;
  padding: 10px 15px;
  white-space: pre;
}