// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 44px;
  padding: 6px 38px 6px 22px; // The 6px vertically centers text on FF, ignored by Webkit
  background-color: $input-bg;
  border: $input-border;
  border-radius: $border-radius-base;
  box-shadow: none;
  @include placeholder(#fff);
  color: $input-color;
  transition: $transition; 
}

// Removes awkward default styles on some inputs for iOS
input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input {
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="password"]:focus {
    border-color: $input-border-focus;
    outline: 0;
  }
}

textarea:focus,
select:focus {
  border-color: $input-border-focus;
  outline: 0;
}

input {
  &.input-on-bg[type="email"]:focus,
  &.input-on-bg[type="number"]:focus,
  &.input-on-bg[type="search"]:focus,
  &.input-on-bg[type="text"]:focus,
  &.input-on-bg[type="tel"]:focus,
  &.input-on-bg[type="url"]:focus,
  &.input-on-bg[type="password"]:focus {
    border-color: rgba(255, 255, 255, .3);
  }
}

textarea.input-on-bg:focus,
select.input-on-bg:focus {
  border-color: rgba(255, 255, 255, .3);
}

label,
legend {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input {
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
  }
}

label > .label-body {
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}
