.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;  
  margin-left: -$column-padding;
  margin-right: -$column-padding;
}

.column{
  padding-left: $column-padding;
  padding-right: $column-padding;
}

.column-1 {
  width: columnCalc(1);
}

.column-2 {
  width: columnCalc(2);
}

.column-3 {
  width: columnCalc(3);
}

.column-4 {
  width: columnCalc(4);
}

.column-5 {
  width: columnCalc(5);
}

.column-6 {
  width: columnCalc(6);
}

.column-7 {
  width: columnCalc(7);
}

.column-8 {
  width: columnCalc(8);
}

.column-9 {
  width: columnCalc(9);
}

.column-10 {
  width: columnCalc(10);
}

.column-11 {
  width: columnCalc(11);
}

.column-12 {
  width: columnCalc(12);
}