// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: 15px 0 15px 30px;
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: 15px 0 15px 30px;
    font-size: 90%;
  }
}

li {
  margin-bottom: 10px;
}
