// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

input,
textarea,
select,
fieldset {
  margin-bottom: 15px;
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  margin-bottom: 10px;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
  margin-bottom: 25px;
}