@media (max-width: 1200px) {

	/*header*/
	.header .actions-block{
		padding-right: 18px;
	}

	/*main*/
	.container{
		width: 940px;
	}
	.header-container{
		width: 940px;
	}
	.public_with-bg{
		padding: 25px 0 38px;
	}
	.public .container{
		justify-content: space-between;
	}
	.social{
		width: auto;
	}
	.social__title,
	.subscribe__title{
		margin-bottom: 17px;
	}
	.social__link{
		width: 41px;
		height: 41px;
		margin-right: 12px;
	}
	.subscribe__button {
	    padding-left: 25px;
	    padding-right: 25px;
	}
	/*about*/
	.about{
		&-info-links{
			margin-bottom: 101px;
		}
		&-scheme{
			width: 960px;
			margin-left: -480px;
			&-wrap{
				height: (175px + 64px);
			}
		}	
		&-scheme__item {
	    width: 300px;
	    height: 175px;
	    &:nth-child(even){
	    	top: 64px;
	    }
		}
		&-scheme__content {
			top: 44px;
			width: 135px;
		}
		&-scheme__count{
			font-size: 21px;
			margin-bottom: 5px;
		}
		&-scheme__text{
			font-size: 10px;
			line-height: 1.6;	
		}		
	}
	/*more-info-img-left*/
	.more-info-img-left .more-info__img{
		width: 357px;
		padding-top: 129px;
		margin: 0;
	}
	.more-info-img-left .container{
		justify-content: space-between;
	}
	.more-info-img-left .more-info__content{
		padding-right: 37px;
	}
	.more-info__spec-separate{
		margin: 0 13px;
	}
	/*more-info-img-right*/
	.more-info-img-right .more-info__img {
	    width: 450px;
	    margin-right: -25px;
	    padding-top: 138px;
	}
	/*.more-info-dark*/
	.more-info-dark{
		padding-top: 127px;
	}
	.info-private-club .more-info__img{
		width: 450px;
		padding-top: 17px;
		margin-right: -25px;
	}	
	.info-private-club .more-info__content{
		padding-top: 0;
	}
	.info-private-club{
		padding-bottom: 164px;
	}
	/*plan*/
	.plan__item-text{
		width: 533px;
		padding-right: 54px;
	}
	/*team*/
	.team{
		padding-bottom: 280px;
		&:before{
			top: 44px;
			border-width: 406px 0 406px 866px;
		}
		&__item{
			height: 409px;
		}
		&__slider .owl-item img {
	    width: 100%;
	    height: 100%;
		}
		&__slider .owl-prev{
			left: -36px;
		}
		&__slider .owl-next{
			right: -36px;
		}
		&__item:hover .team__item-text{
			max-height: 220px;
		}
	}
	/*mass-media*/
	.mass-media__item{
		// padding-bottom: 15.53%;
		padding-bottom: 0;
		height: 160px;
		&-img{
			transform: scale(.8);
		}
	}
	/*faq*/
	.faq .collapse{
		width: 540px;
	}
	.collapse-item__body-inner{
		padding-right: 38px;
	}
	/*.help*/
	.help{
		border-top: 1px solid $border-color;
		&__block{
			border-top: none;
		}
	}
	/*footer*/
	.footer{
		border-top: 1px solid $border-color;
		&__inner{
			border-top: none;
		}
	}
}

@media (max-width: 1023px) {
	.container{
		max-width: 980px;
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-container{
		max-width: 980px;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;		
	}	
	/*team*/
	.team{
		&__item{
		}
		&__slider .owl-item img{
			width: auto;
			height: auto;
		}
	}
}

@media (max-width: 950px) {
	/*header*/
	.site-logo{
		width: 92px;
	}
	.header{
		padding-top: 12px;
		.actions-block{
			padding-right: 5px;
		}
		&-fixed {
    		height: 60px;
    		.site-logo{
    			width: 76px;
    		}
    		.actions-block{
    			padding-right: 5px;
    		}
		}
	}
	.container{
		width: calc(100% - 40px);
		max-width: none;
		padding: 0;
	}
	.header-container{
		width: calc(100% - 30px);
		max-width: none;
		padding: 0;
	}
	.actions-block{
		.select-lang,
		.actions-block__item-request,
		.actions-block__item-buy{
			display: none;
		}
	}
	.menu-hamburger-button{
		width: 32px;
		height: 32px;
	}
	/*menu*/
	.menu{
		&__content-inner {
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}		
		&__content{
			width: 100%;
			padding: 0 28px 0 20px;
		}		
		&__content-main{
			padding-top: 28px;
		}
		&__content-bottom{
			border-top: 1px solid $border-color;
			padding-top: 23px;
			margin-top: 30px;
			padding-bottom: 70px;
		}
		&__actions-item-close{
			width: 24px;
			height: 24px;
			right: 27px;
			top: 27px;
		}
		&__actions{
			margin-bottom: 30px;
			justify-content: space-between;
		}
		&__actions-item-close-absolute{
			right: 28px;
			top: 28px;
		}
		&__actions-item-buy{
			display: none;
		}
		&__button-buy-mobile-wrap{
			display: block;
		}
		&__list-item{
			font-size: 22px;
			line-height: (27 / 22);
			font-weight: 400;
			margin-bottom: 23px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__nav {
			padding-bottom: 0;
			margin-bottom: 29px;
			&:after{
				display: none;
			}
		}
		&__links-more-item{
			font-weight: 400;
		}
		&__info-links{
			flex-direction: column;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-start;			
		}
		&__info-links .info-links__item{
			margin-bottom: 26px;
			margin-right: 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__info-links .info-links__item_type_video .info-links__icon {
			width: 33px;
			height: 33px;
		}
		&__info-links .info-links__item_type_file{
			margin-left: 8px;
			.info-links__icon {
				width: 19px;
				height: 24px;
				margin-right: 16px;
			}
		}
	}
	.select-lang{
		font-size: 17px;
		line-height: (21 / 17);
		&__title:after {
		    transform: rotate(-45deg);
		    top: -1px;
		}	
		&__list-item_active .select-lang__list-link:after {
		   display: none;
		}
		&__list-link{
			border: none;
		}
		&__list-item{
			padding: 16px 0;
			border-bottom: 1px solid $border-color;
			margin: 0;
			&:last-child{
				border-bottom: none;
			}
		}
	}
	.menu__actions-item-lang .dropdown-menu{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		width: 100vw;
		height: 100vh;
		padding: 28px 28px 28px 20px;
		white-space: normal;
		box-shadow: none;
		.menu__actions-item-close{
			position: absolute;
			right: 28px;
			top: 28px;
		}
	}
	.dropdown-menu__title{
		display: block;
	}
	.dropdown-menu .menu__actions-item-close{
		display: block;
	}
	.menu__actions .select-lang{
		position: static;
	}
	.confirm-form-wrap{
		padding-right: 0;
	}
	.confirm-form__button{
		height: 40px;
		line-height: 39px;
		width: 100%;
	}
	.confirm-form__item-wrap{
		margin-bottom: 30px;
	}
	/*invest*/
	.invest-modal__title{
		font-size: 25px;
		line-height: (34 / 25);
		font-weight: 400;
		margin-bottom: 15px;
	}
	.invest-modal__download{
		margin-top: 45px;
	}
	/*main*/
	.main{
		min-height: 0px;
		padding-bottom: 130px;
		&__content{
			padding-top: 97px;
		}
		&__title{
			font-size: 29px;
			line-height: (35 / 29);
			margin-bottom: 8px;
		}
		&__sub-title{
			width: 220px;
			font-size: 16px;
			line-height: (25 / 16);
			margin-bottom: 19px;
		}
	}
	.purchase{
		display: block;
		padding-bottom: 17px;
		border-bottom: 1px solid #bec2ca;
		margin-bottom: 21px;
		&-counter{
			flex-direction: column;
			align-items: center;
		}
		&__button{
			height: 40px;
			line-height: 39px;
			margin: 0 0 23px 0;
			font-size: 14px;
			padding-left: 66px;
			padding-right: 66px;
		}
		&__list-item{
			font-size: 11px;
			line-height: (13 / 11);
			letter-spacing: .5px;
			margin-bottom: 6px;
		}
		&__list-value{
			font-size: 12px;	
			line-height: (15 / 12);
		}
		&__list-separate{
			font-size: 11px;
		}
		&-counter__title{
			font-size: 11px;
			line-height: (13 / 11);
			padding-top: 0px;
			margin: 0 0 10px 0;
			text-align: center;
		}
		&-counter__body .countdown-amount {
			font-size: 30px;
			letter-spacing: .8px;
			margin-bottom: 4px;
		}
		&-counter__body .countdown-period {
			font-size: 9px;
			letter-spacing: .8px;
		}
		&-counter__body .countdown-section {
			width: 38px;
			margin-right: 18px;
			padding-bottom: 15px;
		}
	}
	.video-bg-block{
		top: 0;
		background-image: url(../img/header-mobile.jpg);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	@media
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi){
		.video-bg-block{
			background-color: $pale-grey;
			background-image: url(../img/header-mobile@2x.jpg);
			background-position: right bottom;
    		background-repeat: no-repeat;
    		background-size: 100% auto;
		}
	}
	/*public*/
	.public{
		text-align: center;
		&_with-bg{
			padding: 19px 0 31px;
		}
		.container{
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;				
			flex-direction: column;
			
		}
	}
	.social{
		margin-bottom: 23px;
		padding-right: 0;
		&__list{
			justify-content: center;
			margin: 0 -6px 0;
		}
		&__title{
			font-size: 17px;
			line-height: (26 / 17);
			margin-bottom: 21px;
		}
		&__link{
			margin: 0 6px 11px;
			&:last-child{
				margin: 0 6px 11px;
			}
		}
	}
	.social__title, .subscribe__title{
		font-size: 17px;
		line-height: (26 / 17);
	}
	.subscribe{
		width: 100%;
		&__title{
			margin-bottom: 14px;
		}		
		&__form{
			display: block;
		}
		&__input-wrap{
			margin: 0 0 15px 0;
			width: 100%;
		}
		&__input,
		&__button{
			width: 100%;
			text-align: center;
		}
		&__thanks{
			border-radius: 15px;
		}
	}
	/*about*/
	.about{
		padding: 45px 0 50px;
		&__title{
			margin-bottom: 21px;
		}
		&__sub-title{
			font-size: 17px;
			line-height: (26 / 17);
			width: auto;
			margin-bottom: 31px;
		}
	}
	.title-main{
		font-size: 27px;
		line-height: (36 / 27);
		font-weight: 400;
	}
	.about-info-links{
		display: inline-block;
		margin-bottom: 28px;
		.info-links__item{
			float: left;
		}
		.info-links__item:nth-child(2){
			margin-right: 0;
			margin-top: -6px;
			.info-links__text{
				width: 100px;
			}
		}
		.info-links__item:nth-child(2) ~ .info-links__item{
			display: block;
			clear: both;
			margin: -25px 0 0 0;
			float: right;
			.info-links__text{
				width: 100px;
			}
		}
		.info-links__item_type_video{
			margin-right: 50px;
			.info-links__item-inner{
				flex-direction: column;
			}
			.info-links__icon{
				margin: 0 0 10px 0;
				&-info-links__text{
					display: block;
				}
			}
		}
	}
	.info-links__item_type_file{
		margin: 0 0 17px 0;
		.info-links__icon{
			width: 26px;
			height: 32px;
		}		
	}
	.info-links__item_type_video .info-links__icon{
		width: 40px;
		height: 40px;
	}
	.about-scheme-wrap{
		height: auto;
	}
	.about-scheme {
		display: block;
	    width: auto;
	    position: static;
	    left: auto;
	    margin-left: 0;
	    &__item{
	    	height: 161px;
	    	width: 280px;
	    	margin-left: auto;
	    	margin-right: auto;
	    	&:not(:first-child){
	    		top: 0;
	    		margin-left: auto;
	    		margin-top: -41px;
	    	}
	    }
	    &__item:nth-child(even){
	    	top: 0;
	    }
	    &__content{
	    	top: 40px;
	    }
	}
	.more-info-img-left{
		padding-top: 0;
		padding-bottom: 34px;
		.more-info__img {
	    width: 234px;
	    padding-top: 0;
	    margin: 0 auto 29px;
		}	
		.container{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}	
		.more-info__content{
			padding-right: 0;
		}
		.more-info__title{
			width: 200px;
		}
		.more-info__text,
		.more-info__link-wrap{
			width: auto;
		}
	}
	.more-info{
		&__count {
			font-size: 27px;
			line-height: (33 / 27);
			margin-bottom: 10px;
		}
		&__title {
			font-size: 25px;
			line-height: (34 / 25);
			font-weight: 400;
		}		
		&__spec{
			width: 270px;
			margin-top: 7px;
		}
		&__spec-separate{
			margin-top: 13px;
		}
		&__spec-item {
			font-size: 17px;
			line-height: (26 / 17);
			margin-top: 13px;
		}
		&__text{
			margin-top: 20px;
			font-size: 17px;
			line-height: (27 / 17);
		}
	}
	.more-info-img-right{
		padding-top: 0;
		padding-bottom: 37px;
		.container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}
		.more-info__content{
			width: auto;
			order: 2;
		}
		.more-info__title{
			width: 238px;
		}
		.more-info__img {
		    width: auto;
		    padding-top: 0;
		    margin: 0 -7px 4px;
		    order: 1;
		   img{
				width: 294px;
			}
		}
	}
	.mobile .more-info-bg,
	.tablet .more-info-bg{
		&__img{
			height: 100%;
			transform: none;
		}
	}
	.more-info-bg{
		padding: 46px 0 91px;
		&__title{
			font-size: 25px;
			line-height: (34 / 25);
			font-weight: 400;
			width: 280px;
		}
		&__text {
			font-size: 17px;
			line-height: (26 / 17);
			width: auto;
			margin: 0 auto 59px;
		}
		&__items-wrap{
			display: block;
		}
		&__item{
			width: auto;
			margin-bottom: 20px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&__item-icon{
			margin-bottom: 16px;
		}
		&__item-text{
			font-size: 17px;
			line-height: (26 / 17);
		}
	}
	/*more-info-dark*/
	.more-info-dark{
		padding: 16px 0 37px;
		&__item-wrap{
			padding-bottom: 0;
		}
	}
	.info-private-club {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		padding-bottom: 26px;
		margin-bottom: 0;
		 .more-info__content{
		 	width: auto;
		 	order: 2;
		 }
		.more-info__img {
		    width: auto;
		    padding-top: 0;
		    margin: 0 -7px 0;
		    order: 1;
		   img{
				width: 294px;
			}
		}
		.more-info__title{
			width: 180px;
		}
	}
	.info-profit {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		padding: 0 0 76px;
		&__img {
		    width: auto;
		    padding-top: 0;
		    margin: 0 -10px 18px;
			position: relative;
			top: auto;
			text-align: center;
		   svg,
		   img{
				width: 300px;
				height: 472px;
			}
		}		
		&__img-mobile{
			display: block;
			margin-bottom: 37px;
		}
		&__img-mobile-hide{
			display: block;
		}
		&__img-text{
			top: 70px;
			width: 300px;
			left: 50%;
			margin-left: -150px;
		}
		&__title{
			font-size: 22px;
			line-height: (27 / 22);
			font-weight: 400;
		}
		&__list{
			padding-right: 34px;
		}
	}
	#info-profit__img{
		display: none;
	}
	.info-profit__content, .info-security__content {
	    margin-left: 0;
	}
	.info-profit__content {
	    width: auto;
	    padding-top: 0;
	}	
	.list-styled{
		font-size: 16px;
		line-height: (22 / 16);
		li{
			padding-left: 39px;
		}
	}
	.info-security {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		&__content{
			width: auto;
		}
		&__title{
			width: 200px;
		}
		&__item{
			padding-top: 2px;
			padding-left: 60px;
			width: auto;
		}
		&__item-title{
			width: 200px;
			margin-bottom: 25px;
		}
		&__item-text{
			font-size: 16px;
			line-height: (22 / 16);
		}
	}
	/*plan*/
	.plan{
		padding: 40px 0 35px;
		&__title{
			margin-bottom: 20px;
		}
		&__item{
			padding: 14px 2px 43px 0;
			flex-direction: column;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;			
			min-height: 0;
			&-date {
				margin-bottom: 19px;
				font-size: 27px;
				line-height: (33 / 27);
			}
			&-year {
			    font-size: 16px;
			    line-height: 1.3;
			    margin-left: 7px;
			}
			&-text{
				font-size: 16px;
				line-height: (25 / 16);
				font-weight: 400;
				width: auto;
				padding: 0;
			}	
		}
	}
	.team{
		padding: 0 0 76px;
		&__title{
			text-align: left;
			margin-bottom: 15px;
		}
		&__item{
			height: 381px;
			height: (381 / 320) * 100vw;
		}
		&:before {
			top: 113px;
			border-width: 127px 0 127px 254px;
		}
	}
	.team__slider{
		padding-bottom: 38px;
		.owl-item img{
			width: auto;
			height: auto;
		}
	}
	/*mass-media*/
	.mass-media{
		&__title{
			margin-bottom: 30px;
		}
		&__item{
			height: 97px;
			width: 50%;
		}
	}
	/*faq*/
	.faq {
	    padding: 42px 0 16px;
		.container {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;
		}	    
		&__title-block{
			max-width: none;
			padding-bottom: 24px;
			border-bottom: 1px solid $border-color;
			margin-bottom: 26px;
		}
		&__title{
			margin-bottom: 19px;
		}
		.info-links__item{
			margin-bottom: 0;
		}
		.info-links__item-faq .info-links__text{
			width: auto;
		}
	}

	.collapse{
		&-item{
			padding-bottom: 11px;
			margin-bottom: 28px;
		}
		&-item__title {
			position: relative;
			font-size: 18px;
			line-height: (22 / 18);
			font-weight: 400;
			padding: 0 49px 17px 0;
			cursor: pointer;
			&:after,
			&:before{
				right: 0;
				top: -1px;
			}
		}
		&-item__body-inner{
			padding: 0 24px 17px 0;
		}
	}
	.faq .collapse{
		width: auto;
	}
	/*timer*/
	.timer{
		padding: 26px 0 29px;
		&__title{
			font-size: 22px;
			font-weight: 400;
			width: 200px;
			margin: 0 auto 26px;
		}
		&__block-main .countdown-section {
			width: 70px;
		}
	}
	/*.public_without-bg*/
	.public_without-bg{
		padding: 28px 0 30px;
	}	
	/*help*/
	.help{
		&__block {
		    padding: 26px 0 35px;
		}	
		&__title {
	    font-size: 17px;
	    line-height: (27 / 17);
	    margin-bottom: 28px;
		}
		&__items-wrap{
			padding-right: 0;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: stretch;			
		}
		&__item{
			margin: 0 0 17px 0;
			display: block;
			&:last-child{
				margin-bottom: 0;
			}
		}		
	}
	/*footer*/
	.footer{
		&__inner{
			padding: 24px 0 90px;
		}
		&__copyright{
			font-size: 16px;
			line-height: (24 / 16);
		}
	}
	.video-modal{
		height: 52.76vw;
		width: calc(100vw - 60px);
	}
	.arcticmodal-close{
		right: -27px;
	}
}