.about{
	padding: 80px 0 88px;
	text-align: center;
	&__title{
		margin-bottom: 29px;
	}
	&__sub-title{
		width: 765px;
		font-size: 22px;
		line-height: (33 / 22);
		font-weight: 300;
		margin: 0 auto 49px auto;
		animation-delay: .2s;
	}
}

.info-links-wrapper{
	display: inline-block;
}

.info-links{
	&__item{
		color: $dark;
		font-weight: 700;
		font-size: 12px;
		line-height: (18 / 12);
		letter-spacing: .8px;
		text-transform: uppercase;
		display: inline-block;
		&-inner{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: center;
		}
	}
	&__icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
	&__item_type_video .info-links__icon{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
		transition: $transition;
	}
	&__item_type_video:hover .info-links__icon{
		box-shadow: $button-box-shadow;
		transform: translate3d(0, -4px, 0);
	}
	&__text{
		display: inline-block;
		vertical-align: middle;
	}
}

.info-links__item_type_file .info-links__icon{
	width: 34px;
	height: 42px;
}
.info-links__item_type_file .info-links__icon > *{
	width: 100%;
	height: 100%;
}

.about-info-links{
	justify-content: center;
	margin-bottom: 148px;
	animation-delay: .4s;
	.info-links__item{
		display: inline-block;
		vertical-align: middle;
		display: flex;
		margin-right: 50px;
	}

	.info-links__item:last-child{
		margin-right: 0;
	}
}

.about-scheme{
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 1250px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -625px;
	&-wrap{
		height: (227px + 82px);
	}
	&__item{
		position: relative;
		width: 394px;
		flex-shrink: 0;
		height: 227px;
		background-image: url(../img/svg/about-scheme.svg);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
	}
	&__item:not(:first-child){
		margin-left: -(394px - 285px);
	}
	&__item:nth-child(even){
		top: 82px;
	}
	&__item:nth-child(2){
		animation-delay: .2s;
	}
	&__item:nth-child(3){
		animation-delay: .4s;
	}
	&__item:nth-child(4){
		animation-delay: .6s;
	}
	&__content{
		position: absolute;
		left: 50%;
		top: 54px;
		width: 190px;
		transform: translateX(-50%);
	}
	&__count{
		font-size: 27px;
		line-height: (33 / 27);
		color: $lipstick;
		font-weight: 400;
		margin-bottom: 14px;
	}
	&__text{
		font-size: 14px;
		line-height: (23 / 14);
		font-weight: 400;
		letter-spacing: .2px;
		text-transform: uppercase;
	}
}