.faq{
	padding: 89px 0 113px;
	&__title{
		margin-bottom: 34px;
	}
	.collapse{
		width: 629px;
		padding-top: 10px;
		animation-delay: .2s;
	}
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
	}
}

.faq__title-block{
	max-width: 330px;
}

.info-links__item-faq .info-links__text{
	width: 127px;
}

.collapse-item{
	padding-bottom: 11px;
	border-bottom: 1px solid $border-color;
	margin-bottom: 36px;
	&:last-child{
		margin-bottom: 0;
		border-bottom: none;
	}
	&__title{
		position: relative;
		font-size: 25px;
		line-height: (30 / 25);
		font-weight: 300;
		padding: 0 49px 25px 0;
		cursor: pointer;
	}
	&__title:after,
	&__title:before{
		content: "";
		width: 23px;
		height: 23px;
		display: inline-block;
		position: absolute;
		right: 13px;
		top: 3px;
		background: url(../img/svg/plus.svg) center center no-repeat;
		background-size: 100% auto;
	}
	&__title:before{
		background: url(../img/svg/minus.svg) center center no-repeat;
		opacity: 0;
	}
	&__active &__title:after{
		opacity: 0;
	}
	&__active &__title:before{
		opacity: 1;
	}
	&__body{
		position: absolute;
		display: block;
		visibility: hidden;
		overflow: hidden;
	}
	&__body-inner{
		padding: 0 53px 25px 0;
		font-size: 17px;
		line-height: (27 / 17);
		font-weight: 300;
	}
	&__body-inner p:last-child{
		margin: 0 0 0 0;
	}
}