.help{
	&__block{
		padding: 53px 0 68px;
		border-top: 1px solid $border-color;
	}	
	&__title{
		font-size: 20px;
		line-height: (35 / 20);
		font-weight: 300;
		margin-bottom: 20px;
	}
	&__items-wrap{
		padding-right: 30px;
		animation-delay: .2s;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;		
	}
	&__item{
		display: inline-block;
		margin-right: 10px;
	}
	&__item:last-child{
		margin-right: 0;
	}
	&__item-title{
		font-size: 13px;
		line-height: 1.5;
		font-weight: 600;
	}
	&__item-value{
		font-size: 14px;
		line-height: (17 / 14);
		letter-spacing: .9px;
		color: $primary-color;
		font-weight: 400;
		text-transform: uppercase;
	}
}