.main {
	position: relative;
	z-index: 1;
	width: 100%;
	min-height: 800px;
	overflow: hidden;
	background-color: #e3e6ed;
	&__content{
		position: relative;
		z-index: 2;
		padding-top: 198px;	
	}
	&__title{
		font-size: 53px;
		line-height: (70 / 53);
		font-weight: 400;
		margin-bottom: 10px;
	}
	&__sub-title{
		font-size: 24px;
		line-height: (40 / 24);
		font-weight: 300;
		margin-bottom: 17px;
		animation-delay: .2s;
	}
}

.purchase{
	animation-delay: .4s;
	justify-content: flex-start;
	align-content: flex-start;
	margin-bottom: 45px;
	&__button{
		margin-right: 22px;
	}
	&__list-item{
		letter-spacing: .5px;
		line-height: (13 / 11);
		margin-bottom: 4px;
		text-transform: uppercase;
		font-size: 11px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__list-value{
		font-size: 12px;
		color: $lipstick;
		line-height: (15 / 12);
	}
	&__list-in-value{
		color: $text-color;
	}

	&__list-separate{
		font-size: 11px;
		text-transform: none;
	}
}

.purchase-counter{
	animation-delay: .6s;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.purchase-counter__title{
	font-size: 11px;
	margin-right: 28px;
	padding-top: 8px;
}

.purchase-counter__body .countdown-section {
	width: 38px;
	margin-right: 18px;
	padding-bottom: 15px;
}
.purchase-counter__body .countdown-section:last-child{
	margin-right: 0;
}
.purchase-counter__body .countdown-amount {
	font-size: 30px;
	font-weight: 300;
	line-height: (29 / 30);
	letter-spacing: .8px;
}
.purchase-counter__body .countdown-period {
	display: block;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 400;
	line-height: (11 / 9);
	letter-spacing: .8px;
	position: absolute;
	left: -100%;
	right: -100%;
	bottom: 0;
	margin: auto;
}

.video-bg-block{
	position: absolute;
	left: 0;
	top: -100px;
	bottom: 0;
	width: 100%;
	background-image: url(../video-bg/video-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	transition: all .3s;
	&_init{
		opacity: 1;
	}
}

.video-bg{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
}

.mobile,
.tablet{
	.video-bg-block{
		opacity: 1;
		transition: none;
	}
	.video-bg{
		display: none;
	}
}