.mass-media{
	&__title{
		margin-bottom: 70px;
	}
	&__items-wrap{
		border-top: 1px solid $border-color;
		animation-delay: .2s;
	}
	&__item{
		display: inline-block;
		position: relative;
		width: 25%;
		height: 250px;
		border-left: 1px solid $border-color;
		border-bottom: 1px solid $border-color;
	}
	&__item:nth-child(4n+1){
		border-left: none;
	}
	&__item-inner{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 15px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	&__item-img{
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray;
		filter: url(../img/svg/grayscale.svg#greyscale);
		-webkit-filter: grayscale(100%);
		opacity: .5;
		transform: translateZ(0);
		transition: all 0.35s;
	}
	&__item:hover &__item-img{
		opacity: 1;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: none;		
	}
}