.more-info-img-left{
	padding: 64px 0 60px;
	.container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
	}
}

.more-info{
	&__count{
		font-size: 27px;
		line-height: (33 / 27);
		font-weight: 400;
		color: $lipstick;
		margin-bottom: 22px;
	}

	&__title{
		font-size: 50px;
		line-height: (60 / 50);
		font-weight: 300;
	}

	&__spec{
		margin-top: 20px;
		justify-content: flex-start;
		&-item{
			font-size: 22px;
			line-height: (33 / 22);
			font-weight: 300;
			flex-shrink: 0;
		}
		&-separate{
			flex-shrink: 0;
			margin: 0 20px;
			background: $border-color;
			width: 1px;
			height: 25px;
			display: inline-block;
		}
	}

	&__text{
		font-weight: 300;
		font-size: 20px;
		line-height: (35 / 20);
		margin-top: 30px;
	}

	&__link-wrap{
		margin-top: 34px;
	}
	&__link{
		font-size: 18px;
		line-height: (22 / 18);
		color: $lipstick;
		padding-right: 32px;
		background: inline-image("../img/base64/arrow-right.svg") right 6px no-repeat;
		&:hover:after{
			width: calc(100% - 32px);
		}
	}

	&-img-left &__img{
		width: 433px;
		padding-top: 138px;
		margin-left: -23px;
		margin-right: 14.09%;
	}

}

.more-info__img{
	text-align: center;
}

.more-info-img-left .more-info__title,
.more-info-img-left .more-info__text,
.more-info-img-left .more-info__link-wrap{
	width: 390px;
}

.more-info-img-left{
	.more-info__content-top{
		animation-delay: .2s;
	}
	.more-info__text{
		animation-delay: .4s;
	}
	.more-info__link-wrap{
		animation-delay: .6s;
	}
}
