.more-info-dark{
	background-color: #171a1e;
	color: $white;
	padding: 107px 0 0;
	overflow: hidden;
}

.info-private-club{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
	padding-bottom: 94px;
	margin-bottom: 68px;
}

.info-private-club .more-info__content{
	width: 477px;
	padding-top: 20px;
}

.info-private-club .more-info__img{
	width: 590px;
	margin-right: -62px;
}

.info-profit{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0 0 266px;
	&__img{
		position: absolute;
		left: 0;
		top: 0;
		width: 350px;
		svg,
		img{
			width: 350px;
			height: 551px;
		}
		&-text{
			font-size: 18px;
			line-height: (23 / 18);
			letter-spacing: .9px;
			font-weight: 300;
			text-align: center;
			text-transform: uppercase;
			position: absolute;
			top: 83px;
			left: 0;
			width: 100%;
		}
		&-icon{
			opacity: 0;
			transition: all 0.5s;
		}
		&-icon-chip{
			transform: translateY(46px);
		}
		&-icon-security{
			transform: translateY(-46px);
		}
		&-icon.showed{
			opacity: 1;
			transform: translateY(0);
		}
	}
	&__img-mobile{
		display: none;
		.info-profit__img-icon{
			opacity: 1;
			transform: none;
		}
	}
	&__img-mobile-hide{
		display: none;
	}
	&__content{
		width: 460px;
		padding-top: 22px;
		animation-delay: .2s;
	}

	&__title{
		font-size: 35px;
		line-height: (41 / 35);
		font-weight: 300;
		margin-bottom: 40px;
	}
	&__list{
		margin-bottom: 40px;
	}
}

.info-security{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	&__img{
		margin-right: (119 / 1100) * 100%;
	}
	&__content{
		width: 533px;
	}
	&__item{
		margin-bottom: 30px;
		padding: 14px 0 0 64px;
		position: relative;
		width: 473px;
		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			height: 50px;
		}
		&-techno:before{
			background: url(../img/svg/security.svg) center center no-repeat;
		}
		&-chip:before{
			background: url(../img/svg/chip.svg) center center no-repeat;
		}
	}
	&__item:last-child{
		margin-bottom: 0;
	}
	&__item-title{
		font-size: 20px;
		line-height: (28 / 20);
		font-weight: 400;
		margin-bottom: 11px;
	}
	&__item-text{
		color: $gray-text;
		font-size: 17px;
		line-height: (27 / 17);
		font-weight: 300;
	}
}

.more-info-dark__item-wrap{
	position: relative;
	padding: 0 0 261px 0;
}

.info-profit__content,
.info-security__content{
	position: relative;
	margin-left: (473 / 1100) * 100%;
}
