.more-info-img-right{
	padding: 78px 0 152px;
	& .container{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: flex-start;
		align-items: flex-start;
	}
}

.more-info-img-right .more-info__content{
	width: 475px;
}

.more-info-img-right .more-info__img{
	width: 590px;
	margin-right: -62px;
	padding-top: 88px;
}

.more-info-img-right,
.more-info-dark{
	.more-info__img{
		animation-delay: .2s;
	}
	.more-info__text{
		animation-delay: .4s;
	}
	.more-info__link-wrap{
		animation-delay: .6s;
	}
}

