.more-info-bg{
	padding: 148px 0 160px;
	position: relative;
	text-align: center;
	color: $white;
	overflow: hidden;
}

.more-info-bg__img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	height: calc(100% + 300px);
	z-index: 1;
	transform: translateY(-300px);
	background: url(../img/bitmap.jpg) center center no-repeat;
	background-size: cover;
}

@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
	.more-info-bg__img{
		background: url(../img/bitmap@2x.jpg) center center no-repeat;
	}
}

.more-info-bg__img:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #273444;
    opacity: 0.7;
}
    
.more-info-bg__count{
	font-size: 27px;
	line-height: (33 / 27);
	color: $lipstick;
	font-weight: 400;
	margin-bottom: 11px;
}

.more-info-bg__content{
	position: relative;
	z-index: 2;
}

.more-info-bg__title{
    font-size: 50px;
    line-height: (60 / 50);
    font-weight: 300;
    width: 520px;
    margin: 0 auto 20px;
}

.more-info-bg__text{
	font-size: 22px;
	line-height: (33 / 22);
	font-weight: 300;
	width: 705px;
	margin: 0 auto 88px;
	animation-delay: .2s;
}

.more-info-bg__items-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
}

.more-info-bg__item{
	width: (100 / 3)*1%;
	&-inner{
		display: inline-block;
	}
	&-icon{
		width: 64px;
		height: 64px;
		display: inline-block;
		margin-bottom: 20px;
	}
	&-text{
		font-size: 22px;
		line-height: (33 / 22);
		font-weight: 300;
		max-width: 220px;
	}
	&:nth-child(1){
		animation-delay: .4s;
	}
	&:nth-child(2){
		animation-delay: .6s;
	}
	&:nth-child(3){
		animation-delay: .8s;
	}
}
