.plan{
	padding: 96px 0 0 0;
	&__title{
		margin-bottom: 106px;
	}
	&__item{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;
		min-height: 200px;
		padding: 19px 0 46px;
		border-top: 1px solid $border-color;
		&-date{
			display: flex;
			align-items: flex-start;
			font-size: 48px;
			line-height: (58 / 48);
			font-weight: 300;
		}
		&-month{
			display: inline-block;
			vertical-align: top;
			animation-delay: .2s;
		}
		&-year{
			font-size: 20px;
			line-height: (30 / 20);
			color: $lipstick;
			font-weight: 300;
			display: inline-block;
			vertical-align: top;
			margin-left: 7px;
			animation-delay: .6s;
		}
		&-text{
			width: 627px;
			padding: 11px 66px 0 0;
			font-size: 24px;
			line-height: (40 / 24);
			font-weight: 300;
			animation-delay: .8s;
		}
	}
}