.public{
	padding: 48px 0 60px;
	&_with-bg{
		background-color: $primary-color;
		color: $white;
	}
	&_with-bg a{
		color: $white;
	}
	&_without-bg{
		padding: 66px 0 70px;
		.subscribe__input{
			color: $purpley-grey;
			@include placeholder($purpley-grey);
		}
	}
	& .container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;
	}
}

.social{
	width: 51.5%;
	padding-right: 15px;
	&__title{
		font-weight: 300;
		font-size: 20px;
		line-height: (33 / 20);
		margin-bottom: 30px;
	}

	&__list{
		justify-content: flex-start;
		align-content: flex-start;
	}

	&__link{
		width: 44px;
		height: 44px;
		display: inline-block;
		margin-right: 13px;
		&:hover .el1{
			fill: $white;
		}
		&:last-child{
			margin-right: 0;
		}
		&-icon{
			width: 100%;
			height: 100%;
		}
	}

	&__link-icon .el1{
		fill: transparent;
		transition: fill .2s;
	}

	&__link-icon .el2{
		stroke: $dark;
		opacity: .2;
		transition: stroke .2s , opacity .2s;
	}

	&__link-icon .el3{
		fill: $dark;
		transition: fill .2s;
	}
}

.public_with-bg .el2{
	stroke: $white;
}

.public_without-bg .social__link:hover .el1{
	fill: $primary-color;
}	

.public_without-bg .social__link:hover .el2{
	opacity: 1;
	stroke: $primary-color;
}	

.public_with-bg .el3{
	fill: $white;
}

.public_without-bg .social__link:hover .el3{
	fill: $white;
}	

.subscribe{
	&__title{
		font-weight: 300;
		font-size: 20px;
		line-height: (33 / 20);
		margin-bottom: 30px;	
	}	
	&__form{
		position: relative;
	}
	&__input{
		width: 266px;
	}
	&__input-wrap{
		margin-right: 13px; 
		position: relative;
	}
	&__button{
		padding-left: 37px;
		padding-right: 37px;
	}
}

.subscribe__input-icon{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 17px;
	border-radius: 50%;
	position: absolute;
	right: 17px;
	top: 50%;
	margin-top: -10px;
	display: none;
	&_error{
		background: $tomato;
	}
	&_valid{
		padding: 3px 2px;
		background: $green;
		& svg{
    		stroke: #fff;
		}
	}
}

.subscribe__input.error{
	border-color: $lipstick;
	&:focus{
		border-color: $lipstick;
	}
}

.subscribe__input.input-on-bg.error{
	border-color: #fff;
	&:focus{
		border-color: #fff;
	}
}
input.subscribe__input.valid{
	border-color: $border-green;
	&:focus{
		border-color: $border-green;
	}
}
.subscribe__input.error ~ .subscribe__input-icon_error{
	display: block;
}
.subscribe__input.valid ~ .subscribe__input-icon_valid{
	display: block;
}

.subscribe__thanks{
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid rgba(236, 231, 231, .23);
	background-color: $primary-color;
	border-radius: 50px;
	&-content{
		position: relative;
		width: 100%;
		padding: 6px 58px 6px 20px;
		font-size: 17px;
		line-height: (27 / 17);
		font-weight: 300;
		height: 100%;
	}
	&-close{
		position: absolute;
		right: 20px;
		width: 18px;
		height: 18px;
		top: 12px;
		cursor: pointer;
		transform: rotate(45deg);
		stroke: #fff;
	}
}

.public_without-bg{
	.subscribe__thanks{
		background-color: #fff;
		border-color: rgba(151,151,151,.3);
	}
	.subscribe__thanks-close{
		stroke: $dark;
	}
}