.team{
	padding: 70px 0 226px; 
	position: relative;
	&:before{
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 502.5px 0 502.5px 1046px;
		border-color: transparent transparent transparent $primary-color;
		position: absolute;
		left: 0;
		top: -68px;
	}
	&__slider{
		color: $white;
		animation-delay: .2s;
	}
	&__slider .owl-item{
		overflow: hidden;
	}
	&__title{
		text-align: center;
		margin-bottom: 106px;
	}
	&__item{
		height: 463px;
		overflow: auto;
		padding: 32px 22px 0 32px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-end;
	}
	&__item:before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: $dark;
		box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.17);
		z-index: 3;
		transition: $transition;
	}
	&__item:hover:before{
		opacity: .7;
	}
	&__item:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 220px;
		opacity: .89;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $dark 95%);
		z-index: 2;
	}
	&__item-img{
		position: absolute;
		left: -1000%;
		right: -1000%;
		top: -1000%;
		bottom: -1000%;
		margin: auto;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		z-index: 1;
	}
	&__item-content{
		position: relative;
		z-index: 4;
		overflow: hidden;
	}
	&__item-title{
		width: 196px;
		font-weight: 300;
		font-size: 29px;
		line-height: (36 / 29);
		padding-bottom: 27px;
		margin-bottom: 15px;
		position: relative;
	}
	&__item-title:after{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		height: 0;
		border-top: 1px solid $lipstick;
	}
	&__item-text{
		font-size: 16px;
		line-height: (29 / 16);
		font-weight: 300;
		padding-bottom: 22px;
		transform: translateY(22px);
		max-height: 0;
		transition: all .5s;
	}
	&__item:hover &__item-text{
		max-height: 200px;
		transform: translateY(0);
	}
}

.owl-next,
.owl-prev{
	width: 68px;
	height: 68px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 0;
	font-size: 0;
	color: transparent;
}

.owl-carousel .owl-nav .owl-next.disabled,
.owl-carousel .owl-nav .owl-prev.disabled{
	opacity: .4;
	cursor: default;
}

.owl-prev{
	background: url(../img/svg/arrow-circle-left.svg) center center no-repeat;
	background-size: 100% auto;
	left: -123px;
}

.owl-next{
	background: url(../img/svg/arrow-circle-right.svg) center center no-repeat;
	background-size: 100% auto;
	right: -123px;
}

.owl-dots{
	text-align: center;
	line-height: 0;
	font-size: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.owl-dot{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: $steel-grey;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	&.active{
		background: $lipstick;
	}
}