.timer{
	padding: 102px 0 113px;
	background-color: $primary-color;
	background-image: url(../img/grid.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	text-align: center;
	&__title{
		font-size: 35px;
		line-height: (42 / 35);
		font-weight: 300;
		margin-bottom: 32px;
	}
}

@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
	.timer{
		background-image: url(../img/grid@2x.png);
	}
}

.timer__block-main{
	margin-bottom: 38px;
	display: inline-block;
}


/* jQuery Countdown styles */
.is-countdown {
}
.countdown-rtl {
	direction: rtl;
}
.countdown-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;	
	width: 100%;
	text-align: center;
}

.countdown-section {
	display: inline-block;
	text-align: center;
	flex-shrink: 0;
	position: relative;
}

.timer__block-main .countdown-section {
	width: 90px;
	height: 63px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-right: 1px solid rgba(255,255,255,.2);
}
.timer__block-main .countdown-section:last-child{
	border-right: none;
}
.timer__block-main .countdown-amount {
	font-size: 37px;
	font-weight: 400;
	line-height: (29 / 37);
	letter-spacing: .8px;
	margin-bottom: 3px;
}
.timer__block-main .countdown-period {
	display: block;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: 400;
	line-height: (11 / 9);
	letter-spacing: .8px;
}
.countdown-descr {
	display: block;
	width: 100%;
}