// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

/*fonts*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.eot") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.woff2") format("woff2"),
  url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype"),
  url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.svg#ProximaNovaLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff2") format("woff2"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.eot") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.woff2") format("woff2"),
  url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype"),
  url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.svg#ProximaNovaSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot") format("embedded-opentype"),
  url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaBold.woff2") format("woff2"),
  url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
  url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"),
  url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.svg#ProximaNovaBold") format("svg");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  // font-size: 62.5%;
  font-size: 10px;
  height: 100%;
  // width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;  
}

body {
  position: relative;
  height: 100%;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $font-family;
  font-weight: 400;
  color: $text-color;
  background-color: $body-bg;  
}

input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder       {opacity: 1; transition: opacity .2s ease;}
input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder                {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder                 {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder            {opacity: 1; transition: opacity .2s ease;}
input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder          {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus:-moz-placeholder,
textarea[placeholder]:focus:-moz-placeholder           {opacity: 0; transition: opacity .2s ease;}
input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .2s ease;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border-color: transparent;
  -webkit-text-fill-color: #555;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

hr {
  margin-top: 30px;
  margin-bottom: 35px;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
