// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1, h2, h3, h4, h5, h6 {
  // margin: 0 0 20px 0;
  font-weight: 300;
}

h1 { font-size: $font-size-h1; line-height: 1.2; }
h2 { font-size: $font-size-h2; line-height: 1.25;}
h3 { font-size: $font-size-h3; line-height: 1.3; }
h4 { font-size: $font-size-h4; line-height: 1.35;}
h5 { font-size: $font-size-h5; line-height: 1.5; }
h6 { font-size: $font-size-h6; line-height: 1.6; }

.title-main{
	font-size: $font-size-h1;
	line-height: 1;
	font-weight: 300;
}

// p {
//   margin: 0 0 15px;
// }

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    // color: darken($link-color, 5%);
    text-decoration: $link-hover-decoration;
  }
}