// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.clearfix:after{
  content: "";
  display: table;
  clear: both;
}

.vert-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.stretch-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-reset ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-styled{
  margin: 0;
  padding: 0;
  list-style: none;  
  font-size: 17px;
  line-height: (27 / 17);
  font-weight: 300;
  color: $gray-text;
  & ul{
    max-width: 0;
    padding-bottom: 0;
    list-style: none;
    padding-left: 44px;
  }
  & li{
    padding-left: 44px;
    margin-bottom: 22px;
    position: relative;
  }
  & li:last-child{
    margin-bottom: 0;
  }
  & li:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 29px;
    height: 29px;
    background: url(../img/svg/checkbox.svg) center center no-repeat;
  }
}

.bottom-line,
.info-links__text{
  position: relative;
}

.bottom-line:after,
.info-links__text:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 1px solid;
  transition: $transition;
}
.bottom-line:hover:after,
.info-links__item:hover .info-links__text:after{
  width: 100%;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.video-modal{
  position: relative;
  width: 640px;
  height: 360px;
  max-width: 80vw;
  max-height: 80vw;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);
  &-wrap{
    display: none;
  }
}

.arcticmodal-overlay{
  opacity: .9 !important;
}

.arcticmodal-close{
  position: absolute;
  right: -40px;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/svg/plus.svg) center center no-repeat;
    transform: rotate(45deg);
  }

}

.invisible,
.animated-fadeInUp{
  visibility: hidden;
}

.animated {
  animation-duration: .7s;
  animation-fill-mode: both;
  visibility: visible;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}