/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*fonts*/
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.eot");
  src: url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaLight/ProximaNovaLight.svg#ProximaNovaLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot");
  src: url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaRegular.svg#ProximaNovaRegular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaSemibold/ProximaNovaSemibold.svg#ProximaNovaSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot");
  src: url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.eot") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaRegular/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNovaBold/ProximaNovaBold.svg#ProximaNovaBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  height: 100%;
  font-size: 17px;
  line-height: 1.58824;
  font-family: "ProximaNova", Arial, sans-serif;
  font-weight: 400;
  color: #273444;
  background-color: #fff;
}

input[placeholder]::-webkit-input-placeholder,
textarea[placeholder]::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity .2s ease;
}

input[placeholder]::-moz-placeholder,
textarea[placeholder]::-moz-placeholder {
  opacity: 1;
  transition: opacity .2s ease;
}

input[placeholder]:-moz-placeholder,
textarea[placeholder]:-moz-placeholder {
  opacity: 1;
  transition: opacity .2s ease;
}

input[placeholder]:-ms-input-placeholder,
textarea[placeholder]:-ms-input-placeholder {
  opacity: 1;
  transition: opacity .2s ease;
}

input[placeholder]:focus::-webkit-input-placeholder,
textarea[placeholder]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease;
}

input[placeholder]:focus::-moz-placeholder,
textarea[placeholder]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease;
}

input[placeholder]:focus:-moz-placeholder,
textarea[placeholder]:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity .2s ease;
}

input[placeholder]:focus:-ms-input-placeholder,
textarea[placeholder]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity .2s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #555;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

hr {
  margin-top: 30px;
  margin-bottom: 35px;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 70px;
  line-height: 1.2;
}

h2 {
  font-size: 50px;
  line-height: 1.25;
}

h3 {
  font-size: 35px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.35;
}

h5 {
  font-size: 20px;
  line-height: 1.5;
}

h6 {
  font-size: 18px;
  line-height: 1.6;
}

.title-main {
  font-size: 70px;
  line-height: 1;
  font-weight: 300;
}

a {
  color: #d21f26;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.vert-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.stretch-item {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-reset ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-styled {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 17px;
  line-height: 1.58824;
  font-weight: 300;
  color: #e4e6eb;
}
.list-styled ul {
  max-width: 0;
  padding-bottom: 0;
  list-style: none;
  padding-left: 44px;
}
.list-styled li {
  padding-left: 44px;
  margin-bottom: 22px;
  position: relative;
}
.list-styled li:last-child {
  margin-bottom: 0;
}
.list-styled li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 29px;
  height: 29px;
  background: url(../img/svg/checkbox.svg) center center no-repeat;
}

.bottom-line,
.info-links__text {
  position: relative;
}

.bottom-line:after,
.info-links__text:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 1px solid;
  transition: all 0.35s;
}

.bottom-line:hover:after,
.info-links__item:hover .info-links__text:after {
  width: 100%;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.video-modal {
  position: relative;
  width: 640px;
  height: 360px;
  max-width: 80vw;
  max-height: 80vw;
  max-width: calc(100vw - 60px);
  max-height: calc(100vh - 60px);
}
.video-modal-wrap {
  display: none;
}

.arcticmodal-overlay {
  opacity: .9 !important;
}

.arcticmodal-close {
  position: absolute;
  right: -40px;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
.arcticmodal-close:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/svg/plus.svg) center center no-repeat;
  transform: rotate(45deg);
}

.invisible,
.animated-fadeInUp {
  visibility: hidden;
}

.animated {
  animation-duration: .7s;
  animation-fill-mode: both;
  visibility: visible;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding-left: 15px;
  padding-right: 15px;
}

.column-1 {
  width: columnCalc(1);
}

.column-2 {
  width: columnCalc(2);
}

.column-3 {
  width: columnCalc(3);
}

.column-4 {
  width: columnCalc(4);
}

.column-5 {
  width: columnCalc(5);
}

.column-6 {
  width: columnCalc(6);
}

.column-7 {
  width: columnCalc(7);
}

.column-8 {
  width: columnCalc(8);
}

.column-9 {
  width: columnCalc(9);
}

.column-10 {
  width: columnCalc(10);
}

.column-11 {
  width: columnCalc(11);
}

.column-12 {
  width: columnCalc(12);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 44px;
  padding: 0 48px;
  color: #273444;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: .8px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  transition: all .35s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button_lg {
  height: 50px;
  line-height: 48px;
  padding-left: 64px;
  padding-right: 64px;
  font-size: 14px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #273444;
  background-color: transparent;
  border-color: #fff;
  outline: 0;
  text-decoration: none;
}

.button_on-bg:hover {
  color: #fff;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #d21f26;
  border-color: #d21f26;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: #eb4340;
  border-color: #eb4340;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.23);
  transform: translate3d(0, -4px, 0);
}

.button.button-dark,
button.button-dark,
input[type="submit"].button-dark,
input[type="reset"].button-dark,
input[type="button"].button-dark {
  color: #fff;
  background-color: #273444;
  border-color: #273444;
}

.button.button-dark:hover,
button.button-dark:hover,
input[type="submit"].button-dark:hover,
input[type="reset"].button-dark:hover,
input[type="button"].button-dark:hover {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.23);
  transform: translate3d(0, -4px, 0);
}

.button.button-transparent,
button.button-transparent,
input[type="submit"].button-transparent,
input[type="reset"].button-transparent,
input[type="button"].button-transparent {
  color: #273444;
  background-color: transparent;
  border-color: rgba(74, 74, 74, 0.2);
}

.button.button-transparent:hover,
button.button-transparent:hover,
input[type="submit"].button-transparent:hover,
input[type="reset"].button-transparent:hover,
input[type="button"].button-transparent:hover {
  color: #fff;
  background-color: #eb4340;
  border-color: #eb4340;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.23);
  transform: translate3d(0, -4px, 0);
}

.button_disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled {
  background: rgba(155, 155, 155, 0.5) !important;
  border-color: transparent !important;
  box-shadow: none !important;
  transform: translate3d(0, 0, 0) !important;
  color: #fff !important;
  pointer-events: none !important;
  cursor: default !important;
}

.button_disabled:hover,
button:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"]:disabled:hover {
  background: rgba(155, 155, 155, 0.5) !important;
  border-color: transparent !important;
  box-shadow: none !important;
  transform: translate3d(0, 0, 0) !important;
  color: #fff !important;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 44px;
  padding: 6px 38px 6px 22px;
  background-color: rgba(216, 216, 216, 0.3);
  border: 2px solid transparent;
  border-radius: 100px;
  box-shadow: none;
  color: #fff;
  transition: all 0.35s;
}
input[type='email']::-moz-placeholder,
input[type='number']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='url']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
input[type='email']:-ms-input-placeholder,
input[type='number']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='url']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #fff;
}
input[type='email']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='url']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #fff;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border-color: rgba(216, 216, 216, 0.3);
  outline: 0;
}

textarea:focus,
select:focus {
  border-color: rgba(216, 216, 216, 0.3);
  outline: 0;
}

input.input-on-bg[type="email"]:focus, input.input-on-bg[type="number"]:focus, input.input-on-bg[type="search"]:focus, input.input-on-bg[type="text"]:focus, input.input-on-bg[type="tel"]:focus, input.input-on-bg[type="url"]:focus, input.input-on-bg[type="password"]:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

textarea.input-on-bg:focus,
select.input-on-bg:focus {
  border-color: rgba(255, 255, 255, 0.3);
}

label,
legend {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  width: 100vw;
  height: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
}
.menu__shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(39, 52, 68, 0.78);
}
.menu__content {
  background: #fff;
  width: 608px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  overflow: auto;
  padding: 0 60px 0 77px;
  transform: translateX(120px);
  transition: all .5s ease;
}
.menu__content-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
.menu_opened .menu__content {
  transform: translateX(0%);
}
.menu-form_opened .menu__content-inner {
  display: none;
}
.menu-form_opened .menu__content > .confirm-form-wrap {
  display: flex;
}
.menu__content-main {
  padding-top: 57px;
}
.menu__content-bottom {
  padding-top: 74px;
  padding-bottom: 57px;
}
.menu__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: center;
  margin-bottom: 116px;
}
.menu__actions-item-close {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/svg/plus-grey.svg) center center no-repeat;
  background-size: 100% auto;
  transform: rotate(45deg);
}
.menu__actions-item-lang {
  margin-right: 34px;
}
.menu__actions-item-buy {
  margin-right: 41px;
}
.menu__button-buy-mobile-wrap {
  display: none;
  margin-bottom: 35px;
}
.menu__button-buy-mobile {
  height: 40px;
  line-height: 39px;
  font-size: 14px;
}
.menu__nav {
  padding-bottom: 54px;
  margin-bottom: 42px;
  position: relative;
}
.menu__nav:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 283px;
  border-top: 1px solid #e4e6eb;
}
.menu__list-item {
  font-size: 35px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 33px;
}
.menu__list-item:last-child {
  margin-bottom: 0;
}
.menu__list-link {
  color: #273444;
  transition: all 0.35s;
}
.menu__list-link:hover {
  color: #d21f26;
}
.menu__list-link:after {
  border-color: #d21f26;
}

.menu_opened {
  overflow: hidden;
}

.menu__links-more-item {
  margin-bottom: 21px;
}
.menu__links-more-item:last-child {
  margin-bottom: 0;
}

.menu__info-links .info-links__item {
  margin: 0 15px 10px 0;
}
.menu__info-links .info-links__item:last-child {
  margin-right: 0;
}

.menu__actions-item-close-absolute {
  position: absolute;
  right: 68px;
  top: 68px;
}

.confirm-form {
  margin: 0;
}
.confirm-form-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  padding-right: 50px;
  display: none;
}
.confirm-form__item-wrap {
  margin-bottom: 48px;
}
.confirm-form__item {
  margin-bottom: 34px;
}
.confirm-form__item:last-child {
  margin-bottom: 0;
}
.confirm-form__label {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 46px;
  padding-top: 2px;
  font-size: 17px;
  line-height: 1.35294;
  font-weight: 300;
  user-select: none;
}
.confirm-form__checkbox-wrap {
  position: absolute;
  left: 0;
  top: 1px;
}
.confirm-form__button {
  margin: 0;
}

.checkbox-wrap {
  width: 26px;
  height: 26px;
  line-height: 0;
  font-size: 0;
}
.checkbox-wrap .checkbox-icon {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #e4e6eb;
  background-color: #fff;
  transition: all 0.35s;
}
.checkbox-wrap .checkbox-icon:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/svg/checkbox.svg);
  opacity: 0;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.35s;
}
.checkbox-wrap input[type="checkbox"]:checked ~ .checkbox-icon:before {
  opacity: 1;
}
.checkbox-wrap input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

input.error[type="checkbox"] ~ .checkbox-icon {
  border-color: #d21f26;
}

label.error {
  display: none !important;
}

.invest-modal {
  font-size: 20px;
  line-height: 1.75;
  font-weight: 300;
  display: none;
}
.invest-modal__title {
  font-size: 50px;
  line-height: 1.22;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.invest-modal__text {
  margin: 0;
  font-size: 17px;
  line-height: 1.58824;
}
.invest-modal__download {
  margin: 51px 0 0 0;
}
.invest-modal__download-title {
  margin: 0 0 14px 0;
  font-size: 17px;
  line-height: 1.58824;
}
.invest-modal__download__download-link {
  width: 180px;
}

.dropdown-menu .menu__actions-item-close {
  display: none;
}

.header {
  padding-top: 36px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s .8s;
}
.header.fadeIn {
  opacity: 1;
}
.header .actions-block {
  padding-right: 14px;
}
.header-container {
  width: calc(100% - 92px);
  margin: 0 auto;
  position: relative;
}

.mobile .header,
.tablet .header {
  opacity: 1;
  transition: none;
}

.mobile .animated-fadeInUp,
.tablet .animated-fadeInUp {
  visibility: visible;
}

.site-logo {
  width: 156px;
}
.site-logo img {
  width: 100%;
}

.actions-block__item {
  margin: 0 24px 0 0;
  display: inline-block;
  vertical-align: middle;
}
.actions-block__item:last-child {
  margin: 0;
}
.actions-block__item-request {
  font-size: 14px;
  padding-left: 25px;
  padding-right: 25px;
}

.select-lang {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .8px;
  color: #273444;
  line-height: 1;
  text-transform: uppercase;
}
.select-lang__title {
  position: relative;
  display: block;
  white-space: nowrap;
  color: #273444;
  transition: all .2s;
}
.select-lang__title:hover {
  color: #eb4340;
}
.select-lang__title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  position: relative;
  top: -3px;
  left: 5px;
  border-right: solid 1px #273444;
  border-bottom: solid 1px #273444;
  transform: rotate(45deg);
  transform-origin: 50% 50%;
}
.select-lang__list-item {
  margin-bottom: 12px;
}
.select-lang__list-item:last-child {
  margin-bottom: 0;
}
.select-lang__list-link {
  display: block;
  border-width: 0 16px 0 20px;
  border-color: transparent;
  border-style: solid;
  position: relative;
  color: #273444;
  transition: all .2s;
}
.select-lang__list-link:hover, .select-lang__list-item_active .select-lang__list-link {
  color: #eb4340;
}
.select-lang__list-item_active .select-lang__list-link:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  position: relative;
  left: 5px;
  border-right: solid 1px #273444;
  border-top: solid 1px #273444;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 20px 0 17px 0;
  z-index: 2;
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}
.dropdown-menu__title {
  position: relative;
  display: none;
  font-size: 17px;
  line-height: 1.35294;
  font-weight: 300;
  text-align: center;
  padding: 1px 50px 0;
  margin-bottom: 20px;
  color: #273444;
}
.dropdown-menu__title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 22px;
  height: 11px;
  background: url(../img/svg/arrow-select-lang.svg) left center no-repeat;
  transform: scale(-1, 1) translateY(-50%);
}

.menu-hamburger-button {
  position: relative;
  width: 32px;
  height: 32px;
  display: inline-block;
  stroke: #273444;
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 92px;
  background: #fff;
  z-index: 90;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  transform: translateY(-175px);
  transition: transform .35s;
}
.header-fixed-active {
  transform: translateY(0);
}
.header-fixed-inner {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
.header-fixed .header-container {
  height: 100%;
}
.header-fixed-site-logo {
  width: 120px;
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
  background-color: #e3e6ed;
}
.main__content {
  position: relative;
  z-index: 2;
  padding-top: 198px;
}
.main__title {
  font-size: 53px;
  line-height: 1.32075;
  font-weight: 400;
  margin-bottom: 10px;
}
.main__sub-title {
  font-size: 24px;
  line-height: 1.66667;
  font-weight: 300;
  margin-bottom: 17px;
  animation-delay: .2s;
}

.purchase {
  animation-delay: .4s;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 45px;
}
.purchase__button {
  margin-right: 22px;
}
.purchase__list-item {
  letter-spacing: .5px;
  line-height: 1.18182;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 11px;
}
.purchase__list-item:last-child {
  margin-bottom: 0;
}
.purchase__list-value {
  font-size: 12px;
  color: #d21f26;
  line-height: 1.25;
}
.purchase__list-in-value {
  color: #273444;
}
.purchase__list-separate {
  font-size: 11px;
  text-transform: none;
}

.purchase-counter {
  animation-delay: .6s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.purchase-counter__title {
  font-size: 11px;
  margin-right: 28px;
  padding-top: 8px;
}

.purchase-counter__body .countdown-section {
  width: 38px;
  margin-right: 18px;
  padding-bottom: 15px;
}

.purchase-counter__body .countdown-section:last-child {
  margin-right: 0;
}

.purchase-counter__body .countdown-amount {
  font-size: 30px;
  font-weight: 300;
  line-height: 0.96667;
  letter-spacing: .8px;
}

.purchase-counter__body .countdown-period {
  display: block;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.22222;
  letter-spacing: .8px;
  position: absolute;
  left: -100%;
  right: -100%;
  bottom: 0;
  margin: auto;
}

.video-bg-block {
  position: absolute;
  left: 0;
  top: -100px;
  bottom: 0;
  width: 100%;
  background-image: url(../video-bg/video-bg.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: all .3s;
}
.video-bg-block_init {
  opacity: 1;
}

.video-bg {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.mobile .video-bg-block,
.tablet .video-bg-block {
  opacity: 1;
  transition: none;
}
.mobile .video-bg,
.tablet .video-bg {
  display: none;
}

.public {
  padding: 48px 0 60px;
}
.public_with-bg {
  background-color: #d21f26;
  color: #fff;
}
.public_with-bg a {
  color: #fff;
}
.public_without-bg {
  padding: 66px 0 70px;
}
.public_without-bg .subscribe__input {
  color: #9b9b9b;
}
.public_without-bg .subscribe__input::-moz-placeholder {
  color: #9b9b9b;
  opacity: 1;
}
.public_without-bg .subscribe__input:-ms-input-placeholder {
  color: #9b9b9b;
}
.public_without-bg .subscribe__input::-webkit-input-placeholder {
  color: #9b9b9b;
}
.public .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.social {
  width: 51.5%;
  padding-right: 15px;
}
.social__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 30px;
}
.social__list {
  justify-content: flex-start;
  align-content: flex-start;
}
.social__link {
  width: 44px;
  height: 44px;
  display: inline-block;
  margin-right: 13px;
}
.social__link:hover .el1 {
  fill: #fff;
}
.social__link:last-child {
  margin-right: 0;
}
.social__link-icon {
  width: 100%;
  height: 100%;
}
.social__link-icon .el1 {
  fill: transparent;
  transition: fill .2s;
}
.social__link-icon .el2 {
  stroke: #273444;
  opacity: .2;
  transition: stroke .2s , opacity .2s;
}
.social__link-icon .el3 {
  fill: #273444;
  transition: fill .2s;
}

.public_with-bg .el2 {
  stroke: #fff;
}

.public_without-bg .social__link:hover .el1 {
  fill: #d21f26;
}

.public_without-bg .social__link:hover .el2 {
  opacity: 1;
  stroke: #d21f26;
}

.public_with-bg .el3 {
  fill: #fff;
}

.public_without-bg .social__link:hover .el3 {
  fill: #fff;
}

.subscribe__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 30px;
}
.subscribe__form {
  position: relative;
}
.subscribe__input {
  width: 266px;
}
.subscribe__input-wrap {
  margin-right: 13px;
  position: relative;
}
.subscribe__button {
  padding-left: 37px;
  padding-right: 37px;
}

.subscribe__input-icon {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 17px;
  border-radius: 50%;
  position: absolute;
  right: 17px;
  top: 50%;
  margin-top: -10px;
  display: none;
}
.subscribe__input-icon_error {
  background: #eb4340;
}
.subscribe__input-icon_valid {
  padding: 3px 2px;
  background: #45c53a;
}
.subscribe__input-icon_valid svg {
  stroke: #fff;
}

.subscribe__input.error {
  border-color: #d21f26;
}
.subscribe__input.error:focus {
  border-color: #d21f26;
}

.subscribe__input.input-on-bg.error {
  border-color: #fff;
}
.subscribe__input.input-on-bg.error:focus {
  border-color: #fff;
}

input.subscribe__input.valid {
  border-color: #26fd14;
}
input.subscribe__input.valid:focus {
  border-color: #26fd14;
}

.subscribe__input.error ~ .subscribe__input-icon_error {
  display: block;
}

.subscribe__input.valid ~ .subscribe__input-icon_valid {
  display: block;
}

.subscribe__thanks {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid rgba(236, 231, 231, 0.23);
  background-color: #d21f26;
  border-radius: 50px;
}
.subscribe__thanks-content {
  position: relative;
  width: 100%;
  padding: 6px 58px 6px 20px;
  font-size: 17px;
  line-height: 1.58824;
  font-weight: 300;
  height: 100%;
}
.subscribe__thanks-close {
  position: absolute;
  right: 20px;
  width: 18px;
  height: 18px;
  top: 12px;
  cursor: pointer;
  transform: rotate(45deg);
  stroke: #fff;
}

.public_without-bg .subscribe__thanks {
  background-color: #fff;
  border-color: rgba(151, 151, 151, 0.3);
}
.public_without-bg .subscribe__thanks-close {
  stroke: #273444;
}

.about {
  padding: 80px 0 88px;
  text-align: center;
}
.about__title {
  margin-bottom: 29px;
}
.about__sub-title {
  width: 765px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  margin: 0 auto 49px auto;
  animation-delay: .2s;
}

.info-links-wrapper {
  display: inline-block;
}

.info-links__item {
  color: #273444;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .8px;
  text-transform: uppercase;
  display: inline-block;
}
.info-links__item-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}
.info-links__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.info-links__item_type_video .info-links__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  transition: all 0.35s;
}
.info-links__item_type_video:hover .info-links__icon {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.23);
  transform: translate3d(0, -4px, 0);
}
.info-links__text {
  display: inline-block;
  vertical-align: middle;
}

.info-links__item_type_file .info-links__icon {
  width: 34px;
  height: 42px;
}

.info-links__item_type_file .info-links__icon > * {
  width: 100%;
  height: 100%;
}

.about-info-links {
  justify-content: center;
  margin-bottom: 148px;
  animation-delay: .4s;
}
.about-info-links .info-links__item {
  display: inline-block;
  vertical-align: middle;
  display: flex;
  margin-right: 50px;
}
.about-info-links .info-links__item:last-child {
  margin-right: 0;
}

.about-scheme {
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 1250px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -625px;
}
.about-scheme-wrap {
  height: 309px;
}
.about-scheme__item {
  position: relative;
  width: 394px;
  flex-shrink: 0;
  height: 227px;
  background-image: url(../img/svg/about-scheme.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.about-scheme__item:not(:first-child) {
  margin-left: -109px;
}
.about-scheme__item:nth-child(even) {
  top: 82px;
}
.about-scheme__item:nth-child(2) {
  animation-delay: .2s;
}
.about-scheme__item:nth-child(3) {
  animation-delay: .4s;
}
.about-scheme__item:nth-child(4) {
  animation-delay: .6s;
}
.about-scheme__content {
  position: absolute;
  left: 50%;
  top: 54px;
  width: 190px;
  transform: translateX(-50%);
}
.about-scheme__count {
  font-size: 27px;
  line-height: 1.22222;
  color: #d21f26;
  font-weight: 400;
  margin-bottom: 14px;
}
.about-scheme__text {
  font-size: 14px;
  line-height: 1.64286;
  font-weight: 400;
  letter-spacing: .2px;
  text-transform: uppercase;
}

.more-info-img-left {
  padding: 64px 0 60px;
}
.more-info-img-left .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.more-info__count {
  font-size: 27px;
  line-height: 1.22222;
  font-weight: 400;
  color: #d21f26;
  margin-bottom: 22px;
}
.more-info__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
}
.more-info__spec {
  margin-top: 20px;
  justify-content: flex-start;
}
.more-info__spec-item {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  flex-shrink: 0;
}
.more-info__spec-separate {
  flex-shrink: 0;
  margin: 0 20px;
  background: #e4e6eb;
  width: 1px;
  height: 25px;
  display: inline-block;
}
.more-info__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.75;
  margin-top: 30px;
}
.more-info__link-wrap {
  margin-top: 34px;
}
.more-info__link {
  font-size: 18px;
  line-height: 1.22222;
  color: #d21f26;
  padding-right: 32px;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDIwIDEyIj4NCiAgICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iI0QyMUYyNiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4NCiAgICAgICAgPHBhdGggZD0iTTE4LjYwNiA1LjU4SC41TTEzLjU2Mi42MTFsNS4wNDQgNC45Ny01LjA0NCA0Ljk3Ii8+DQogICAgPC9nPg0KPC9zdmc+DQo=') right 6px no-repeat;
}
.more-info__link:hover:after {
  width: calc(100% - 32px);
}
.more-info-img-left .more-info__img {
  width: 433px;
  padding-top: 138px;
  margin-left: -23px;
  margin-right: 14.09%;
}

.more-info__img {
  text-align: center;
}

.more-info-img-left .more-info__title,
.more-info-img-left .more-info__text,
.more-info-img-left .more-info__link-wrap {
  width: 390px;
}

.more-info-img-left .more-info__content-top {
  animation-delay: .2s;
}
.more-info-img-left .more-info__text {
  animation-delay: .4s;
}
.more-info-img-left .more-info__link-wrap {
  animation-delay: .6s;
}

.more-info-img-right {
  padding: 78px 0 152px;
}
.more-info-img-right .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.more-info-img-right .more-info__content {
  width: 475px;
}

.more-info-img-right .more-info__img {
  width: 590px;
  margin-right: -62px;
  padding-top: 88px;
}

.more-info-img-right .more-info__img,
.more-info-dark .more-info__img {
  animation-delay: .2s;
}
.more-info-img-right .more-info__text,
.more-info-dark .more-info__text {
  animation-delay: .4s;
}
.more-info-img-right .more-info__link-wrap,
.more-info-dark .more-info__link-wrap {
  animation-delay: .6s;
}

.more-info-bg {
  padding: 148px 0 160px;
  position: relative;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

.more-info-bg__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: calc(100% + 300px);
  z-index: 1;
  transform: translateY(-300px);
  background: url(../img/bitmap.jpg) center center no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .more-info-bg__img {
    background: url(../img/bitmap@2x.jpg) center center no-repeat;
  }
}
.more-info-bg__img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #273444;
  opacity: 0.7;
}

.more-info-bg__count {
  font-size: 27px;
  line-height: 1.22222;
  color: #d21f26;
  font-weight: 400;
  margin-bottom: 11px;
}

.more-info-bg__content {
  position: relative;
  z-index: 2;
}

.more-info-bg__title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  width: 520px;
  margin: 0 auto 20px;
}

.more-info-bg__text {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  width: 705px;
  margin: 0 auto 88px;
  animation-delay: .2s;
}

.more-info-bg__items-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.more-info-bg__item {
  width: 33.33333%;
}
.more-info-bg__item-inner {
  display: inline-block;
}
.more-info-bg__item-icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin-bottom: 20px;
}
.more-info-bg__item-text {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
  max-width: 220px;
}
.more-info-bg__item:nth-child(1) {
  animation-delay: .4s;
}
.more-info-bg__item:nth-child(2) {
  animation-delay: .6s;
}
.more-info-bg__item:nth-child(3) {
  animation-delay: .8s;
}

.more-info-dark {
  background-color: #171a1e;
  color: #fff;
  padding: 107px 0 0;
  overflow: hidden;
}

.info-private-club {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  padding-bottom: 94px;
  margin-bottom: 68px;
}

.info-private-club .more-info__content {
  width: 477px;
  padding-top: 20px;
}

.info-private-club .more-info__img {
  width: 590px;
  margin-right: -62px;
}

.info-profit {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 0 266px;
}
.info-profit__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
}
.info-profit__img svg,
.info-profit__img img {
  width: 350px;
  height: 551px;
}
.info-profit__img-text {
  font-size: 18px;
  line-height: 1.27778;
  letter-spacing: .9px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
}
.info-profit__img-icon {
  opacity: 0;
  transition: all 0.5s;
}
.info-profit__img-icon-chip {
  transform: translateY(46px);
}
.info-profit__img-icon-security {
  transform: translateY(-46px);
}
.info-profit__img-icon.showed {
  opacity: 1;
  transform: translateY(0);
}
.info-profit__img-mobile {
  display: none;
}
.info-profit__img-mobile .info-profit__img-icon {
  opacity: 1;
  transform: none;
}
.info-profit__img-mobile-hide {
  display: none;
}
.info-profit__content {
  width: 460px;
  padding-top: 22px;
  animation-delay: .2s;
}
.info-profit__title {
  font-size: 35px;
  line-height: 1.17143;
  font-weight: 300;
  margin-bottom: 40px;
}
.info-profit__list {
  margin-bottom: 40px;
}

.info-security {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.info-security__img {
  margin-right: 10.81818%;
}
.info-security__content {
  width: 533px;
}
.info-security__item {
  margin-bottom: 30px;
  padding: 14px 0 0 64px;
  position: relative;
  width: 473px;
}
.info-security__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
.info-security__item-techno:before {
  background: url(../img/svg/security.svg) center center no-repeat;
}
.info-security__item-chip:before {
  background: url(../img/svg/chip.svg) center center no-repeat;
}
.info-security__item:last-child {
  margin-bottom: 0;
}
.info-security__item-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 11px;
}
.info-security__item-text {
  color: #e4e6eb;
  font-size: 17px;
  line-height: 1.58824;
  font-weight: 300;
}

.more-info-dark__item-wrap {
  position: relative;
  padding: 0 0 261px 0;
}

.info-profit__content,
.info-security__content {
  position: relative;
  margin-left: 43%;
}

.plan {
  padding: 96px 0 0 0;
}
.plan__title {
  margin-bottom: 106px;
}
.plan__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  min-height: 200px;
  padding: 19px 0 46px;
  border-top: 1px solid #e4e6eb;
}
.plan__item-date {
  display: flex;
  align-items: flex-start;
  font-size: 48px;
  line-height: 1.20833;
  font-weight: 300;
}
.plan__item-month {
  display: inline-block;
  vertical-align: top;
  animation-delay: .2s;
}
.plan__item-year {
  font-size: 20px;
  line-height: 1.5;
  color: #d21f26;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  margin-left: 7px;
  animation-delay: .6s;
}
.plan__item-text {
  width: 627px;
  padding: 11px 66px 0 0;
  font-size: 24px;
  line-height: 1.66667;
  font-weight: 300;
  animation-delay: .8s;
}

.team {
  padding: 70px 0 226px;
  position: relative;
}
.team:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 502.5px 0 502.5px 1046px;
  border-color: transparent transparent transparent #d21f26;
  position: absolute;
  left: 0;
  top: -68px;
}
.team__slider {
  color: #fff;
  animation-delay: .2s;
}
.team__slider .owl-item {
  overflow: hidden;
}
.team__title {
  text-align: center;
  margin-bottom: 106px;
}
.team__item {
  height: 463px;
  overflow: auto;
  padding: 32px 22px 0 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-end;
}
.team__item:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #273444;
  box-shadow: 0 15px 24px 0 rgba(0, 0, 0, 0.17);
  z-index: 3;
  transition: all 0.35s;
}
.team__item:hover:before {
  opacity: .7;
}
.team__item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 220px;
  opacity: .89;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #273444 95%);
  z-index: 2;
}
.team__item-img {
  position: absolute;
  left: -1000%;
  right: -1000%;
  top: -1000%;
  bottom: -1000%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  z-index: 1;
}
.team__item-content {
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.team__item-title {
  width: 196px;
  font-weight: 300;
  font-size: 29px;
  line-height: 1.24138;
  padding-bottom: 27px;
  margin-bottom: 15px;
  position: relative;
}
.team__item-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 0;
  border-top: 1px solid #d21f26;
}
.team__item-text {
  font-size: 16px;
  line-height: 1.8125;
  font-weight: 300;
  padding-bottom: 22px;
  transform: translateY(22px);
  max-height: 0;
  transition: all .5s;
}
.team__item:hover .team__item-text {
  max-height: 200px;
  transform: translateY(0);
}

.owl-next,
.owl-prev {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.owl-carousel .owl-nav .owl-next.disabled,
.owl-carousel .owl-nav .owl-prev.disabled {
  opacity: .4;
  cursor: default;
}

.owl-prev {
  background: url(../img/svg/arrow-circle-left.svg) center center no-repeat;
  background-size: 100% auto;
  left: -123px;
}

.owl-next {
  background: url(../img/svg/arrow-circle-right.svg) center center no-repeat;
  background-size: 100% auto;
  right: -123px;
}

.owl-dots {
  text-align: center;
  line-height: 0;
  font-size: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.owl-dot {
  width: 14px;
  height: 14px;
  display: inline-block;
  background: #79818b;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.owl-dot.active {
  background: #d21f26;
}

.mass-media__title {
  margin-bottom: 70px;
}
.mass-media__items-wrap {
  border-top: 1px solid #e4e6eb;
  animation-delay: .2s;
}
.mass-media__item {
  display: inline-block;
  position: relative;
  width: 25%;
  height: 250px;
  border-left: 1px solid #e4e6eb;
  border-bottom: 1px solid #e4e6eb;
}
.mass-media__item:nth-child(4n+1) {
  border-left: none;
}
.mass-media__item-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.mass-media__item-img {
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url(../img/svg/grayscale.svg#greyscale);
  -webkit-filter: grayscale(100%);
  opacity: .5;
  transform: translateZ(0);
  transition: all 0.35s;
}
.mass-media__item:hover .mass-media__item-img {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: none;
}

.faq {
  padding: 89px 0 113px;
}
.faq__title {
  margin-bottom: 34px;
}
.faq .collapse {
  width: 629px;
  padding-top: 10px;
  animation-delay: .2s;
}
.faq .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.faq__title-block {
  max-width: 330px;
}

.info-links__item-faq .info-links__text {
  width: 127px;
}

.collapse-item {
  padding-bottom: 11px;
  border-bottom: 1px solid #e4e6eb;
  margin-bottom: 36px;
}
.collapse-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}
.collapse-item__title {
  position: relative;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 300;
  padding: 0 49px 25px 0;
  cursor: pointer;
}
.collapse-item__title:after, .collapse-item__title:before {
  content: "";
  width: 23px;
  height: 23px;
  display: inline-block;
  position: absolute;
  right: 13px;
  top: 3px;
  background: url(../img/svg/plus.svg) center center no-repeat;
  background-size: 100% auto;
}
.collapse-item__title:before {
  background: url(../img/svg/minus.svg) center center no-repeat;
  opacity: 0;
}
.collapse-item__active .collapse-item__title:after {
  opacity: 0;
}
.collapse-item__active .collapse-item__title:before {
  opacity: 1;
}
.collapse-item__body {
  position: absolute;
  display: block;
  visibility: hidden;
  overflow: hidden;
}
.collapse-item__body-inner {
  padding: 0 53px 25px 0;
  font-size: 17px;
  line-height: 1.58824;
  font-weight: 300;
}
.collapse-item__body-inner p:last-child {
  margin: 0 0 0 0;
}

.timer {
  padding: 102px 0 113px;
  background-color: #d21f26;
  background-image: url(../img/grid.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}
.timer__title {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 32px;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .timer {
    background-image: url(../img/grid@2x.png);
  }
}
.timer__block-main {
  margin-bottom: 38px;
  display: inline-block;
}

/* jQuery Countdown styles */
.countdown-rtl {
  direction: rtl;
}

.countdown-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  width: 100%;
  text-align: center;
}

.countdown-section {
  display: inline-block;
  text-align: center;
  flex-shrink: 0;
  position: relative;
}

.timer__block-main .countdown-section {
  width: 90px;
  height: 63px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.timer__block-main .countdown-section:last-child {
  border-right: none;
}

.timer__block-main .countdown-amount {
  font-size: 37px;
  font-weight: 400;
  line-height: 0.78378;
  letter-spacing: .8px;
  margin-bottom: 3px;
}

.timer__block-main .countdown-period {
  display: block;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.22222;
  letter-spacing: .8px;
}

.countdown-descr {
  display: block;
  width: 100%;
}

.help__block {
  padding: 53px 0 68px;
  border-top: 1px solid #e4e6eb;
}
.help__title {
  font-size: 20px;
  line-height: 1.75;
  font-weight: 300;
  margin-bottom: 20px;
}
.help__items-wrap {
  padding-right: 30px;
  animation-delay: .2s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}
.help__item {
  display: inline-block;
  margin-right: 10px;
}
.help__item:last-child {
  margin-right: 0;
}
.help__item-title {
  font-size: 13px;
  line-height: 1.5;
  font-weight: 600;
}
.help__item-value {
  font-size: 14px;
  line-height: 1.21429;
  letter-spacing: .9px;
  color: #d21f26;
  font-weight: 400;
  text-transform: uppercase;
}

.footer {
  text-align: center;
}
.footer__inner {
  padding: 40px 0 40px;
  border-top: 1px solid #e4e6eb;
  animation-delay: .4s;
}
.footer__copyright {
  font-size: 17px;
  line-height: 1.58824;
  font-weight: 300;
}

@media (max-width: 1200px) {
  /*header*/
  .header .actions-block {
    padding-right: 18px;
  }

  /*main*/
  .container {
    width: 940px;
  }

  .header-container {
    width: 940px;
  }

  .public_with-bg {
    padding: 25px 0 38px;
  }

  .public .container {
    justify-content: space-between;
  }

  .social {
    width: auto;
  }

  .social__title,
  .subscribe__title {
    margin-bottom: 17px;
  }

  .social__link {
    width: 41px;
    height: 41px;
    margin-right: 12px;
  }

  .subscribe__button {
    padding-left: 25px;
    padding-right: 25px;
  }

  /*about*/
  .about-info-links {
    margin-bottom: 101px;
  }
  .about-scheme {
    width: 960px;
    margin-left: -480px;
  }
  .about-scheme-wrap {
    height: 239px;
  }
  .about-scheme__item {
    width: 300px;
    height: 175px;
  }
  .about-scheme__item:nth-child(even) {
    top: 64px;
  }
  .about-scheme__content {
    top: 44px;
    width: 135px;
  }
  .about-scheme__count {
    font-size: 21px;
    margin-bottom: 5px;
  }
  .about-scheme__text {
    font-size: 10px;
    line-height: 1.6;
  }

  /*more-info-img-left*/
  .more-info-img-left .more-info__img {
    width: 357px;
    padding-top: 129px;
    margin: 0;
  }

  .more-info-img-left .container {
    justify-content: space-between;
  }

  .more-info-img-left .more-info__content {
    padding-right: 37px;
  }

  .more-info__spec-separate {
    margin: 0 13px;
  }

  /*more-info-img-right*/
  .more-info-img-right .more-info__img {
    width: 450px;
    margin-right: -25px;
    padding-top: 138px;
  }

  /*.more-info-dark*/
  .more-info-dark {
    padding-top: 127px;
  }

  .info-private-club .more-info__img {
    width: 450px;
    padding-top: 17px;
    margin-right: -25px;
  }

  .info-private-club .more-info__content {
    padding-top: 0;
  }

  .info-private-club {
    padding-bottom: 164px;
  }

  /*plan*/
  .plan__item-text {
    width: 533px;
    padding-right: 54px;
  }

  /*team*/
  .team {
    padding-bottom: 280px;
  }
  .team:before {
    top: 44px;
    border-width: 406px 0 406px 866px;
  }
  .team__item {
    height: 409px;
  }
  .team__slider .owl-item img {
    width: 100%;
    height: 100%;
  }
  .team__slider .owl-prev {
    left: -36px;
  }
  .team__slider .owl-next {
    right: -36px;
  }
  .team__item:hover .team__item-text {
    max-height: 220px;
  }

  /*mass-media*/
  .mass-media__item {
    padding-bottom: 0;
    height: 160px;
  }
  .mass-media__item-img {
    transform: scale(0.8);
  }

  /*faq*/
  .faq .collapse {
    width: 540px;
  }

  .collapse-item__body-inner {
    padding-right: 38px;
  }

  /*.help*/
  .help {
    border-top: 1px solid #e4e6eb;
  }
  .help__block {
    border-top: none;
  }

  /*footer*/
  .footer {
    border-top: 1px solid #e4e6eb;
  }
  .footer__inner {
    border-top: none;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 980px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-container {
    max-width: 980px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }

  /*team*/
  .team__slider .owl-item img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 950px) {
  /*header*/
  .site-logo {
    width: 92px;
  }

  .header {
    padding-top: 12px;
  }
  .header .actions-block {
    padding-right: 5px;
  }
  .header-fixed {
    height: 60px;
  }
  .header-fixed .site-logo {
    width: 76px;
  }
  .header-fixed .actions-block {
    padding-right: 5px;
  }

  .container {
    width: calc(100% - 40px);
    max-width: none;
    padding: 0;
  }

  .header-container {
    width: calc(100% - 30px);
    max-width: none;
    padding: 0;
  }

  .actions-block .select-lang,
  .actions-block .actions-block__item-request,
  .actions-block .actions-block__item-buy {
    display: none;
  }

  .menu-hamburger-button {
    width: 32px;
    height: 32px;
  }

  /*menu*/
  .menu__content-inner {
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .menu__content {
    width: 100%;
    padding: 0 28px 0 20px;
  }
  .menu__content-main {
    padding-top: 28px;
  }
  .menu__content-bottom {
    border-top: 1px solid #e4e6eb;
    padding-top: 23px;
    margin-top: 30px;
    padding-bottom: 70px;
  }
  .menu__actions-item-close {
    width: 24px;
    height: 24px;
    right: 27px;
    top: 27px;
  }
  .menu__actions {
    margin-bottom: 30px;
    justify-content: space-between;
  }
  .menu__actions-item-close-absolute {
    right: 28px;
    top: 28px;
  }
  .menu__actions-item-buy {
    display: none;
  }
  .menu__button-buy-mobile-wrap {
    display: block;
  }
  .menu__list-item {
    font-size: 22px;
    line-height: 1.22727;
    font-weight: 400;
    margin-bottom: 23px;
  }
  .menu__list-item:last-child {
    margin-bottom: 0;
  }
  .menu__nav {
    padding-bottom: 0;
    margin-bottom: 29px;
  }
  .menu__nav:after {
    display: none;
  }
  .menu__links-more-item {
    font-weight: 400;
  }
  .menu__info-links {
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
  }
  .menu__info-links .info-links__item {
    margin-bottom: 26px;
    margin-right: 0;
  }
  .menu__info-links .info-links__item:last-child {
    margin-bottom: 0;
  }
  .menu__info-links .info-links__item_type_video .info-links__icon {
    width: 33px;
    height: 33px;
  }
  .menu__info-links .info-links__item_type_file {
    margin-left: 8px;
  }
  .menu__info-links .info-links__item_type_file .info-links__icon {
    width: 19px;
    height: 24px;
    margin-right: 16px;
  }

  .select-lang {
    font-size: 17px;
    line-height: 1.23529;
  }
  .select-lang__title:after {
    transform: rotate(-45deg);
    top: -1px;
  }
  .select-lang__list-item_active .select-lang__list-link:after {
    display: none;
  }
  .select-lang__list-link {
    border: none;
  }
  .select-lang__list-item {
    padding: 16px 0;
    border-bottom: 1px solid #e4e6eb;
    margin: 0;
  }
  .select-lang__list-item:last-child {
    border-bottom: none;
  }

  .menu__actions-item-lang .dropdown-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    padding: 28px 28px 28px 20px;
    white-space: normal;
    box-shadow: none;
  }
  .menu__actions-item-lang .dropdown-menu .menu__actions-item-close {
    position: absolute;
    right: 28px;
    top: 28px;
  }

  .dropdown-menu__title {
    display: block;
  }

  .dropdown-menu .menu__actions-item-close {
    display: block;
  }

  .menu__actions .select-lang {
    position: static;
  }

  .confirm-form-wrap {
    padding-right: 0;
  }

  .confirm-form__button {
    height: 40px;
    line-height: 39px;
    width: 100%;
  }

  .confirm-form__item-wrap {
    margin-bottom: 30px;
  }

  /*invest*/
  .invest-modal__title {
    font-size: 25px;
    line-height: 1.36;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .invest-modal__download {
    margin-top: 45px;
  }

  /*main*/
  .main {
    min-height: 0px;
    padding-bottom: 130px;
  }
  .main__content {
    padding-top: 97px;
  }
  .main__title {
    font-size: 29px;
    line-height: 1.2069;
    margin-bottom: 8px;
  }
  .main__sub-title {
    width: 220px;
    font-size: 16px;
    line-height: 1.5625;
    margin-bottom: 19px;
  }

  .purchase {
    display: block;
    padding-bottom: 17px;
    border-bottom: 1px solid #bec2ca;
    margin-bottom: 21px;
  }
  .purchase-counter {
    flex-direction: column;
    align-items: center;
  }
  .purchase__button {
    height: 40px;
    line-height: 39px;
    margin: 0 0 23px 0;
    font-size: 14px;
    padding-left: 66px;
    padding-right: 66px;
  }
  .purchase__list-item {
    font-size: 11px;
    line-height: 1.18182;
    letter-spacing: .5px;
    margin-bottom: 6px;
  }
  .purchase__list-value {
    font-size: 12px;
    line-height: 1.25;
  }
  .purchase__list-separate {
    font-size: 11px;
  }
  .purchase-counter__title {
    font-size: 11px;
    line-height: 1.18182;
    padding-top: 0px;
    margin: 0 0 10px 0;
    text-align: center;
  }
  .purchase-counter__body .countdown-amount {
    font-size: 30px;
    letter-spacing: .8px;
    margin-bottom: 4px;
  }
  .purchase-counter__body .countdown-period {
    font-size: 9px;
    letter-spacing: .8px;
  }
  .purchase-counter__body .countdown-section {
    width: 38px;
    margin-right: 18px;
    padding-bottom: 15px;
  }

  .video-bg-block {
    top: 0;
    background-image: url(../img/header-mobile.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
@media (max-width: 950px) and (-webkit-min-device-pixel-ratio: 1.25), (max-width: 950px) and (min-resolution: 120dpi) {
  .video-bg-block {
    background-color: #e4e6eb;
    background-image: url(../img/header-mobile@2x.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
@media (max-width: 950px) {
  /*public*/
  .public {
    text-align: center;
  }
  .public_with-bg {
    padding: 19px 0 31px;
  }
  .public .container {
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
    flex-direction: column;
  }

  .social {
    margin-bottom: 23px;
    padding-right: 0;
  }
  .social__list {
    justify-content: center;
    margin: 0 -6px 0;
  }
  .social__title {
    font-size: 17px;
    line-height: 1.52941;
    margin-bottom: 21px;
  }
  .social__link {
    margin: 0 6px 11px;
  }
  .social__link:last-child {
    margin: 0 6px 11px;
  }

  .social__title, .subscribe__title {
    font-size: 17px;
    line-height: 1.52941;
  }

  .subscribe {
    width: 100%;
  }
  .subscribe__title {
    margin-bottom: 14px;
  }
  .subscribe__form {
    display: block;
  }
  .subscribe__input-wrap {
    margin: 0 0 15px 0;
    width: 100%;
  }
  .subscribe__input, .subscribe__button {
    width: 100%;
    text-align: center;
  }
  .subscribe__thanks {
    border-radius: 15px;
  }

  /*about*/
  .about {
    padding: 45px 0 50px;
  }
  .about__title {
    margin-bottom: 21px;
  }
  .about__sub-title {
    font-size: 17px;
    line-height: 1.52941;
    width: auto;
    margin-bottom: 31px;
  }

  .title-main {
    font-size: 27px;
    line-height: 1.33333;
    font-weight: 400;
  }

  .about-info-links {
    display: inline-block;
    margin-bottom: 28px;
  }
  .about-info-links .info-links__item {
    float: left;
  }
  .about-info-links .info-links__item:nth-child(2) {
    margin-right: 0;
    margin-top: -6px;
  }
  .about-info-links .info-links__item:nth-child(2) .info-links__text {
    width: 100px;
  }
  .about-info-links .info-links__item:nth-child(2) ~ .info-links__item {
    display: block;
    clear: both;
    margin: -25px 0 0 0;
    float: right;
  }
  .about-info-links .info-links__item:nth-child(2) ~ .info-links__item .info-links__text {
    width: 100px;
  }
  .about-info-links .info-links__item_type_video {
    margin-right: 50px;
  }
  .about-info-links .info-links__item_type_video .info-links__item-inner {
    flex-direction: column;
  }
  .about-info-links .info-links__item_type_video .info-links__icon {
    margin: 0 0 10px 0;
  }
  .about-info-links .info-links__item_type_video .info-links__icon-info-links__text {
    display: block;
  }

  .info-links__item_type_file {
    margin: 0 0 17px 0;
  }
  .info-links__item_type_file .info-links__icon {
    width: 26px;
    height: 32px;
  }

  .info-links__item_type_video .info-links__icon {
    width: 40px;
    height: 40px;
  }

  .about-scheme-wrap {
    height: auto;
  }

  .about-scheme {
    display: block;
    width: auto;
    position: static;
    left: auto;
    margin-left: 0;
  }
  .about-scheme__item {
    height: 161px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-scheme__item:not(:first-child) {
    top: 0;
    margin-left: auto;
    margin-top: -41px;
  }
  .about-scheme__item:nth-child(even) {
    top: 0;
  }
  .about-scheme__content {
    top: 40px;
  }

  .more-info-img-left {
    padding-top: 0;
    padding-bottom: 34px;
  }
  .more-info-img-left .more-info__img {
    width: 234px;
    padding-top: 0;
    margin: 0 auto 29px;
  }
  .more-info-img-left .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .more-info-img-left .more-info__content {
    padding-right: 0;
  }
  .more-info-img-left .more-info__title {
    width: 200px;
  }
  .more-info-img-left .more-info__text,
  .more-info-img-left .more-info__link-wrap {
    width: auto;
  }

  .more-info__count {
    font-size: 27px;
    line-height: 1.22222;
    margin-bottom: 10px;
  }
  .more-info__title {
    font-size: 25px;
    line-height: 1.36;
    font-weight: 400;
  }
  .more-info__spec {
    width: 270px;
    margin-top: 7px;
  }
  .more-info__spec-separate {
    margin-top: 13px;
  }
  .more-info__spec-item {
    font-size: 17px;
    line-height: 1.52941;
    margin-top: 13px;
  }
  .more-info__text {
    margin-top: 20px;
    font-size: 17px;
    line-height: 1.58824;
  }

  .more-info-img-right {
    padding-top: 0;
    padding-bottom: 37px;
  }
  .more-info-img-right .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .more-info-img-right .more-info__content {
    width: auto;
    order: 2;
  }
  .more-info-img-right .more-info__title {
    width: 238px;
  }
  .more-info-img-right .more-info__img {
    width: auto;
    padding-top: 0;
    margin: 0 -7px 4px;
    order: 1;
  }
  .more-info-img-right .more-info__img img {
    width: 294px;
  }

  .mobile .more-info-bg__img,
  .tablet .more-info-bg__img {
    height: 100%;
    transform: none;
  }

  .more-info-bg {
    padding: 46px 0 91px;
  }
  .more-info-bg__title {
    font-size: 25px;
    line-height: 1.36;
    font-weight: 400;
    width: 280px;
  }
  .more-info-bg__text {
    font-size: 17px;
    line-height: 1.52941;
    width: auto;
    margin: 0 auto 59px;
  }
  .more-info-bg__items-wrap {
    display: block;
  }
  .more-info-bg__item {
    width: auto;
    margin-bottom: 20px;
  }
  .more-info-bg__item:last-child {
    margin-bottom: 0;
  }
  .more-info-bg__item-icon {
    margin-bottom: 16px;
  }
  .more-info-bg__item-text {
    font-size: 17px;
    line-height: 1.52941;
  }

  /*more-info-dark*/
  .more-info-dark {
    padding: 16px 0 37px;
  }
  .more-info-dark__item-wrap {
    padding-bottom: 0;
  }

  .info-private-club {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding-bottom: 26px;
    margin-bottom: 0;
  }
  .info-private-club .more-info__content {
    width: auto;
    order: 2;
  }
  .info-private-club .more-info__img {
    width: auto;
    padding-top: 0;
    margin: 0 -7px 0;
    order: 1;
  }
  .info-private-club .more-info__img img {
    width: 294px;
  }
  .info-private-club .more-info__title {
    width: 180px;
  }

  .info-profit {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding: 0 0 76px;
  }
  .info-profit__img {
    width: auto;
    padding-top: 0;
    margin: 0 -10px 18px;
    position: relative;
    top: auto;
    text-align: center;
  }
  .info-profit__img svg,
  .info-profit__img img {
    width: 300px;
    height: 472px;
  }
  .info-profit__img-mobile {
    display: block;
    margin-bottom: 37px;
  }
  .info-profit__img-mobile-hide {
    display: block;
  }
  .info-profit__img-text {
    top: 70px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
  .info-profit__title {
    font-size: 22px;
    line-height: 1.22727;
    font-weight: 400;
  }
  .info-profit__list {
    padding-right: 34px;
  }

  #info-profit__img {
    display: none;
  }

  .info-profit__content, .info-security__content {
    margin-left: 0;
  }

  .info-profit__content {
    width: auto;
    padding-top: 0;
  }

  .list-styled {
    font-size: 16px;
    line-height: 1.375;
  }
  .list-styled li {
    padding-left: 39px;
  }

  .info-security {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .info-security__content {
    width: auto;
  }
  .info-security__title {
    width: 200px;
  }
  .info-security__item {
    padding-top: 2px;
    padding-left: 60px;
    width: auto;
  }
  .info-security__item-title {
    width: 200px;
    margin-bottom: 25px;
  }
  .info-security__item-text {
    font-size: 16px;
    line-height: 1.375;
  }

  /*plan*/
  .plan {
    padding: 40px 0 35px;
  }
  .plan__title {
    margin-bottom: 20px;
  }
  .plan__item {
    padding: 14px 2px 43px 0;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    min-height: 0;
  }
  .plan__item-date {
    margin-bottom: 19px;
    font-size: 27px;
    line-height: 1.22222;
  }
  .plan__item-year {
    font-size: 16px;
    line-height: 1.3;
    margin-left: 7px;
  }
  .plan__item-text {
    font-size: 16px;
    line-height: 1.5625;
    font-weight: 400;
    width: auto;
    padding: 0;
  }

  .team {
    padding: 0 0 76px;
  }
  .team__title {
    text-align: left;
    margin-bottom: 15px;
  }
  .team__item {
    height: 381px;
    height: 119.0625vw;
  }
  .team:before {
    top: 113px;
    border-width: 127px 0 127px 254px;
  }

  .team__slider {
    padding-bottom: 38px;
  }
  .team__slider .owl-item img {
    width: auto;
    height: auto;
  }

  /*mass-media*/
  .mass-media__title {
    margin-bottom: 30px;
  }
  .mass-media__item {
    height: 97px;
    width: 50%;
  }

  /*faq*/
  .faq {
    padding: 42px 0 16px;
  }
  .faq .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .faq__title-block {
    max-width: none;
    padding-bottom: 24px;
    border-bottom: 1px solid #e4e6eb;
    margin-bottom: 26px;
  }
  .faq__title {
    margin-bottom: 19px;
  }
  .faq .info-links__item {
    margin-bottom: 0;
  }
  .faq .info-links__item-faq .info-links__text {
    width: auto;
  }

  .collapse-item {
    padding-bottom: 11px;
    margin-bottom: 28px;
  }
  .collapse-item__title {
    position: relative;
    font-size: 18px;
    line-height: 1.22222;
    font-weight: 400;
    padding: 0 49px 17px 0;
    cursor: pointer;
  }
  .collapse-item__title:after, .collapse-item__title:before {
    right: 0;
    top: -1px;
  }
  .collapse-item__body-inner {
    padding: 0 24px 17px 0;
  }

  .faq .collapse {
    width: auto;
  }

  /*timer*/
  .timer {
    padding: 26px 0 29px;
  }
  .timer__title {
    font-size: 22px;
    font-weight: 400;
    width: 200px;
    margin: 0 auto 26px;
  }
  .timer__block-main .countdown-section {
    width: 70px;
  }

  /*.public_without-bg*/
  .public_without-bg {
    padding: 28px 0 30px;
  }

  /*help*/
  .help__block {
    padding: 26px 0 35px;
  }
  .help__title {
    font-size: 17px;
    line-height: 1.58824;
    margin-bottom: 28px;
  }
  .help__items-wrap {
    padding-right: 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
  }
  .help__item {
    margin: 0 0 17px 0;
    display: block;
  }
  .help__item:last-child {
    margin-bottom: 0;
  }

  /*footer*/
  .footer__inner {
    padding: 24px 0 90px;
  }
  .footer__copyright {
    font-size: 16px;
    line-height: 1.5;
  }

  .video-modal {
    height: 52.76vw;
    width: calc(100vw - 60px);
  }

  .arcticmodal-close {
    right: -27px;
  }
}
